<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" dir="ltr" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
	
<!-- Mirrored from customize.uniqlo.com/store.php/simulation/setWork/1/3158/11568 by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Apr 2015 15:23:12 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
		<title>UNIQLO CUSTOMIZE</title>
<base >
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Style-Type" content="text/css">
		<meta http-equiv="Content-Script-Type" content="text/javascript">
		<meta name="keywords" content="オリジナル,プレゼント,ユニフォーム,カスタマイズ,チームウェア,ユニクロ,ＵＮＩＱＬＯ　ＣＵＳＴＯＭＩＺＥ,ユニクロ,ユニクロオンラインストア" />
		<meta name="description" content="UNIQLO CUSTOMIZE　ユニクロ商品に１枚から簡単にカスタマイズできます。豊富なデザイン、カラー、文字などから自由に組み合わせてオリジナルプレゼントやチームウェアを楽しめます" />
        		<link rel="stylesheet" href="@uniqlo.utility.Config.RES_HOST/simulation/common/css/contents.css" type="text/css" media="screen,all" />
		<link rel="stylesheet" href="@uniqlo.utility.Config.RES_HOST/simulation/common/css/import.css" type="text/css" media="screen,all" />
		<link rel="stylesheet" href="@uniqlo.utility.Config.RES_HOST/simulation/common/css/print.css" type="text/css" media="print" />

		<link rel="stylesheet" type="text/css" href="@uniqlo.utility.Config.RES_HOST/simulation/css/custom.css" />
		<link rel="stylesheet" type="text/css" href="@uniqlo.utility.Config.RES_HOST/simulation/css/phmodal.css" />
		<link rel="stylesheet" type="text/css" href="@uniqlo.utility.Config.RES_HOST/simulation/css/window/default.css" />
		<link rel="stylesheet" type="text/css" href="@uniqlo.utility.Config.RES_HOST/simulation/css/window/alphacube_notitle.css" />
		<script type="text/javascript" src="@uniqlo.utility.Config.RES_HOST/simulation/js/swfobject.js" charset="UTF-8"></script>
		<script type="text/javascript" src="@uniqlo.utility.Config.RES_HOST/simulation/js/prototype.js" charset="UTF-8"></script>
		<script type="text/javascript" src="@uniqlo.utility.Config.RES_HOST/simulation/common/js/roll_over.js" charset="UTF-8"></script>
		<script type="text/javascript" src="@uniqlo.utility.Config.RES_HOST/simulation/js/phmodal.js" charset="UTF-8"></script>
		<script type="text/javascript" src="@uniqlo.utility.Config.RES_HOST/simulation/js/window/window.js" charset="UTF-8"></script>
		<script type="text/javascript" src="@uniqlo.utility.Config.RES_HOST/simulation/js/ZeroClipboard.js" charset="UTF-8"></script>
	</head>
	<body>
       <a name="top"></a>
		<div id="container-wrap">
		  <div id="container2">
		  <!-- header area start -->
          <div id="hnavi-wrap">
              <p class="logo1"><a href="http://www.uniqlo.com/jp/" title="uniqlo.utility"><img src="@uniqlo.utility.Config.RES_HOST/common/image/logo01.gif" alt="uniqlo.utility" width="70" height="70" /></a></p>
              <h1 class="logo2 ro"><a href="top.html" title="uniqlo.utility CUSTOMIZE"><img src="@uniqlo.utility.Config.RES_HOST/common/image/logo02.gif" alt="uniqlo.utility CUSTOMIZE" width="308" height="30" /></a></h1>

              <div class="hnav ro">
                  <ul class="hnav1">
                      <li class="firstChild"><a href="start.html" title="はじめての方へ"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav01.gif" alt="はじめての方へ" width="72" height="12" /></a></li>
                      <li><a href="start.html#price" title="料金表"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav02.gif" alt="料金表" width="42" height="12" /></a></li>
                      <li><a href="https://customize.uniqlo.com/my.php/account/interimRegistration" title="新規会員登録"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav03.gif" alt="新規会員登録" width="68" height="12" /></a></li>
                      <li><a href="https://customize.uniqlo.com/store.php" title="ショッピングカート"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav04.gif" alt="ショッピングカート" width="105" height="12" /></a></li>
                  </ul>

                  <ul class="hnav2">
                      <li class="firstChild"><a href="select.html" title="デザイン作成"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav05.gif" alt="デザイン作成" width="119" height="11" /></a></li>
                      <li><a href="sp/index.html" title="特集"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav06.gif" alt="特集" width="85" height="11" /></a></li>
                  </ul>
              </div> <!-- end of class="hnav" -->

              <ul class="hnav3 ro">
                  <li><a href="https://customize.uniqlo.com/my.php" title="マイページ"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav07.gif" alt="マイページ" width="90" height="50" /></a></li>
                  <li><a href="https://customize.uniqlo.com/my.php/account/login" title="ログイン"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav08.gif" alt="ログイン" width="90" height="19" /></a></li>
              </ul>
          </div>
<!-- header area end -->
				<style>
a.fbLink {
    opacity: 1;
}
a.fbLink:hover {
    opacity: 0.5;
}
div#twContainer {
  display:none;
  position:absolute;
/*  margin: 20px 20px; */
  padding:15px 35px;
  bottom:45px;
  right: -20px;
/*  width: 400px; */
  background:#FFF;
  border:2px solid #F00;
  text-align: left;
}
div#urlView .active {display:block;}
</style>
<script type="text/javascript">
<!--
Event.observe(window,'load',page_loaded,false);
function page_loaded(evt) {
}

var windowObj;
var FlashElm = {
	File:'/designtool/design_tool.swf',
	Width:'970',
	Height:'740'
}
var usp_share_url_permitted = false;
var is_usp_publish = false;

// 枠線表示の切り替え
var isBorder = true;
function switchBorder(){
	var imgObj = $('mainImage').getElementsBySelector("#itemView img");
	isBorder = !isBorder;
	if (isBorder)
		imgObj[0].src = '@uniqlo.utility.Config.RES_HOST/simulation/atelier.php/gadget/getImage9162.png?image=simulation/tmp/40606ca7ebcb3ddee50cbbfde4acddc0428b75b1_wf.png';
	else
		imgObj[0].src = '@uniqlo.utility.Config.RES_HOST/simulation/atelier.php/gadget/getImage9156.png?image=simulation/tmp/40606ca7ebcb3ddee50cbbfde4acddc0428b75b1.png';
}

var media='';
// URL表示の切り替え
function shareUrl(is_permitted_publish,md){
    is_usp_publish = is_permitted_publish;
    var url = "http://customize.uniqlo.com/store.php/simulation/shareProductUrl/1" + "/" + (is_permitted_publish ? 1 : 0) + "/"+md;
    if( md == 'tw') {
        new Ajax.Request(url, {
            method: 'get',
            onSuccess: setShareUrlTwitter,
            onFailure: function() { alert('商品が存在しないか、セッションが切れた可能性があります。\n申し訳ございませんが、トップページから再度操作願います。'); },
            asynchronous: false
        });
    } else if( md == 'fb') {
            new Ajax.Request(url, {
                method: 'get',
                onSuccess: setShareUrlFacebook,
                onFailure: function() { alert('商品が存在しないか、セッションが切れた可能性があります。\n申し訳ございませんが、トップページから再度操作願います。'); },
                asynchronous: false
            });
    } else {
        new Ajax.Request(url, {
            method: 'get',
            onSuccess: setShareUrlNormal,
            onFailure: function() { alert('商品が存在しないか、セッションが切れた可能性があります。\n申し訳ございませんが、トップページから再度操作願います。'); },
            asynchronous: false
        });
    }
}
var usp_id = 0;
var share_url = '';
var short_url='';
//var old_share_url = '';
var base_tag = '#UNIQLOCUSTOMIZE';
function setShareUrlNormal(req, map){
//    old_share_url = share_url;
	share_url = map["url"];
    short_url = map["short_url"];
    media = map["md"];
	usp_share_url_permitted = true;
	toggleUrlNormal();
}
function setShareUrlTwitter(req, map){
    usp_id = map["id"];
    share_url = map["url"];
    short_url = map["short_url"];
    media = map["md"];
    usp_share_url_permitted = true;
    toggleUrlTwitter(media);
}
function setShareUrlFacebook(req, map){
    usp_id = map["id"];
    share_url = map["url"];
    short_url = map["short_url"];
    media = map["fb"];
    usp_share_url_permitted = true;
    toggleUrlFacebook(media);
}

// URL表示の切り替え
function toggleUrl(md){
    if( md == 'tw' ) {
        switchCss("twContainer","active");
    } else {
	   switchCss("viewCode","active");
    }
    media = md;
	Form.findFirstElement("urlShareForm").value = share_url;
}
// URL表示の切り替え
function toggleUrlNormal(){
    switchCss("viewCode","active");
    Form.findFirstElement("urlShareForm").value = share_url;
}
// URL表示の切り替え
function toggleUrlTwitter(){
    var text = 'ユニクロカスタマイズでデザインしました！ '+short_url + ' '+base_tag;
    var url = 'https://twitter.com/intent/tweet?text=' + encodeURIComponent(text);
    var width = 700;
    var height = 300;
    window.open(url, '_blank', 'location=yes,width=' + width +',height=' + height);
}
// URL表示の切り替え
function toggleUrlFacebook(){
    var url = 'http://www.facebook.com/sharer.php?u=' + encodeURIComponent(share_url);
    var width = 700;
    var height = 400;
    window.open(url, '_blank', 'location=yes,width=' + width +',height=' + height);
}

// URLコピー
function copyShareUrl() {
	ZeroClipboard.setMoviePath("http://customize.uniqlo.com/js/ZeroClipboard.swf");
	var clip = new ZeroClipboard.Client();
	clip.glue("d_clip_button", "viewCode");
	clip.setText(share_url);
}

// 汎用クラス切り換え
function switchCss(elm,value){
	(Element.hasClassName(elm,value) == false) 
		? Element.addClassName(elm,value) 
		: Element.removeClassName(elm,value);
}

// si_id取得
function getSid(name) {
	var regexp = new RegExp('; ' + name + '(=([^;]*))?;');
	var match  = ('; ' + document.cookie + ';').match(regexp);
	return match ? match[2] : null;
}

// Flash起動
function openDesignTool(id){
	var url = "/store.php/simulation/prepareDesignTool/1" + "/" + id;
	new Ajax.Request(url, {
		method: 'get',
		onSuccess: function() {
		  loadSwf('1'); 
		},
		onFailure: function() { alert('商品が存在しないか、セッションが切れた可能性があります。\n申し訳ございませんが、トップページから再度操作願います。'); },
		asynchronous: false
	});
}

// シミュレート時呼ばれる
function closedDesignTool() {
	location.href = 'http://customize.uniqlo.com/store.php/simulation/simulate/1';
}

// 商品名入力ウィンドウを開く
function openInputProductName() {
	var pos = getWindowPosition(250, 250, 90);
	windowObj = new Window({className: "alphacube", title: "デザイン保存",
		top:pos.top, left:pos.left, width:pos.width, height:pos.height, minimizable:false, maximizable:false, resizable:false,
		url: "/store.php/simulation/inputProductName?si_id=1", showEffectOptions: {duration:0}});
	windowObj.show(true); 
}

// デザイン保存完了を表示する
function openSavedDesign() {
	alert('デザイン保存が完了しました');
}

// デザイン共有確認ウィンドウを開く
function openConfirmShareUrl(md) {
	var pos = getWindowPosition(150, 450, (md == 'tw' || md == 'wire11' || md == 'fb') ? 220 : 270);
	windowObj = new Window({className: "alphacube", title: "",
		top:pos.top, left:pos.left, width:pos.width, height:pos.height, minimizable:false, maximizable:false, resizable:false,
		url: "/store.php/simulation/confirmShareUrl/si_id/1/md/"+md, showEffectOptions: {duration:0}});
	windowObj.show(true); 
}

// 色を変更する
function selectColor(url, isWillDeleteWork) {
	if (!isWillDeleteWork || confirm('色を変えると加工箇所が減りますが、よろしいですか'))
		location.href = url;
	return false;
}

// 商品を変更する
function selItem() {
	if (confirm('商品を変更すると作成中のデザインは全てクリアされます。よろし' +
				'ければ[OK]をクリックして商品選択画面に戻ってください。\n' +
				'\n' +
				'作成中のデザインを一時的に保存する場合は、ページ下部の' +
				'「このデザインを共有する」をクリックしてデザイン共有用のURLを発行してください。'))
		location.href = 'http://customize.uniqlo.com/store.php/sel_item/1?pt_id=all';
}

// 加工方法を変更する
function selWork() {
	if (confirm('加工方法を変更すると作成中のデザインは全てクリアされます。よろし' +
				'ければ[OK]をクリックして加工方法選択画面に戻ってください。\n' +
				'\n' +
				'作成中のデザインを一時的に保存する場合は、ページ下部の' +
				'「このデザインを共有する」をクリックしてデザイン共有用のURLを発行してください。'))
		location.href = 'http://customize.uniqlo.com/store.php/sel_work?si_id=1&amp;item_color_id=3158';
}

// ウィンドウ座標を取得する
function getWindowPosition(top, width, height) {
	var top = top + (document.body.scrollTop || document.documentElement.scrollTop);
	var left = ((document.body.clientWidth || document.documentElement.clientWidth) - width) / 2;
	if (left < 0)
		left = 0;
	return {top: top, left: left, width: width, height: height};
}

// 開いているウィンドウを閉じる
function closeWindow() {
	if (windowObj)
		windowObj.close();
}

// -->
</script>
		<!-- contents area start -->
		<div id="customContainer">
			<div id="contentsHead" style="padding-bottom:20px;border-bottom:1px solid #DCDCDC;">
				<div id="stepBox" class="clr" style="z-index:0">
					<h2><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/txt_editor.gif" width="588" height="30" alt="加工したいアイテムを選んでください" /></h2>
					<ol>
					<li><a href="#" onclick="selItem(); return false;" onFocus="this.blur();"><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/img_step3_1.gif" width="100" height="25" alt="商品に戻る" /><span><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/img_step_help.gif" alt="前の画面に戻るときはこのボタンをお使いください。" width="270" height="27" /></span></a></li>
					<li><a href="#" onclick="selWork(); return false;" onFocus="this.blur();"><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/img_step3_2.gif" width="100" height="25" alt="加工方法に戻る" /><span><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/img_step_help.gif" alt="前の画面に戻るときはこのボタンをお使いください。" width="270" height="27" /></span></a></li>
					<li><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/img_step3_3.gif" width="100" height="25" alt="デザインする" /></li>
					</ol>
				</div>
				<!--//stepBox end-->
			</div>
			<!--//contentsHead-->
			<div id="editBlock" class="guest clr"><!--ログイン前はclss『guest』を付与-->
				<!--LeftBlock-->
				<div id="toolBlock" class="left">
					<!--デザインを作る-->
					<h3><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/stit_create_design.gif" alt="デザインを作る" width="119" height="15" /></h3>
					<div id="designBox">
						<ul id="designLink">
							<!--ループ-->
							<li>
							<a href="#" onclick="openDesignTool('11568');return false;" onFocus="this.blur();" class="clr">
								<!--LayoutThumbnail--><span class="tubmNail"><img src="@uniqlo.utility.Config.RES_HOST/simulation/atelier.php/gadget/getImage3473.gif?image=work/work_shape_icon/114_4bb592a6.gif" alt="" width="40" height="39" /></span>
								<!--LayoutName--><span class="layoutName">インクジェット<br />前面中央（27&times;27）</span>
								<img src="@uniqlo.utility.Config.RES_HOST/simulation/images/bt_create_design.gif" alt="デザインを作る" width="110" height="35" class="btn" />
								</a>
							</li>
							<!--//ループ-->
						</ul>
					</div>
					<!--//デザインを作る-->
					<div class="arrow"><hr /></div>
					<!--アイテムカラーを変更する-->
					<h3><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/stit_change_color.gif" alt="アイテムカラーを変更する" width="194" height="15" /></h3>
					<div id="colorBox">
						<ul id="colorList" class="imgList clr">
							<!--カラーチップループ-->
							<li class="current"><a href="#" onclick="return false;" style="cursor: default"><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/img_colorchip.gif" alt="14 RED" width="31" height="31" style="background:#A04650" /></a></li>
							<li><a href="#" onclick="return selectColor('/store.php/simulation/selColor/1/3159', false);"><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/img_colorchip.gif" alt="24 ORANGE" width="31" height="31" style="background:#D3490A" /></a></li>
							<li><a href="#" onclick="return selectColor('/store.php/simulation/selColor/1/3160', false);"><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/img_colorchip.gif" alt="41 YELLOW" width="31" height="31" style="background:#CBBE80" /></a></li>
							<li><a href="#" onclick="return selectColor('/store.php/simulation/selColor/1/3161', false);"><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/img_colorchip.gif" alt="50 LIGHT GREEN" width="31" height="31" style="background:#A2BBB5" /></a></li>
							<li><a href="#" onclick="return selectColor('/store.php/simulation/selColor/1/3162', false);"><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/img_colorchip.gif" alt="54 GREEN" width="31" height="31" style="background:#024924" /></a></li>
							<li><a href="#" onclick="return selectColor('/store.php/simulation/selColor/1/3163', false);"><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/img_colorchip.gif" alt="61 BLUE" width="31" height="31" style="background:#99ADBA" /></a></li>
							<li><a href="#" onclick="return selectColor('/store.php/simulation/selColor/1/3165', false);"><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/img_colorchip.gif" alt="65 BLUE" width="31" height="31" style="background:#016484" /></a></li>
							<li><a href="#" onclick="return selectColor('/store.php/simulation/selColor/1/3167', false);"><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/img_colorchip.gif" alt="67 BLUE" width="31" height="31" style="background:#022664" /></a></li>
							<!--//カラーチップループ-->
						</ul>
						<p class="clr">
						<span class="left">color:14 RED</span>
						<a href="http://customize.uniqlo.com/store.php/stock/index?id=562" target="_blank"><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/bt_check_stock2.gif" alt="在庫確認" width="62" height="13" /></a>
						</p>
					</div>
					<!--//アイテムカラーを変更する-->
					<div class="arrow"><hr /></div>
					<!--商品の保存・追加-->
					<div id="saveBox" class="subBox">
						<ul class="clr">
							<li class="left"><span class="opaque"><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/bt_save.gif" alt="このデザインを保存する" width="155" height="50" /></span></li>
							<li class="right"><span class="opaque"><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/bt_order.gif" alt="このデザインで注文する" width="155" height="50" /></span></li>
						</ul>
						<p><span class="opaque">デザインを保存するには、ログインしてください</span></p>
					</div>
					<!--//商品の保存・追加-->
					<div style="margin-top:10px;padding-top:15px;border-top:1px dotted #CCC;"><hr /></div>
					<!--商品・デザインの変更-->
					<h3><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/stit_change_item.gif" alt="商品・デザインの変更はこちら 作業中のデザインは破棄されます" width="336" height="13" /></h3>
					<div id="changeBox">
						<table style="border-bottom:1px dotted #CCC;">
						<col width="37" />
						<col width="" />
						<col width="60" />
						<tr>
						<th><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/sstit_item.gif" alt="商品" width="27" height="21" /></th>
						<td><!--ItemName-->MEN ドライカノコポロシャツ 半袖（ポップ）</td>
						<td><a href="#" onclick="selItem(); return false;" onFocus="this.blur();"><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/bt_change.gif" width="50" height="25" /></a></td>
						</tr>
						</table>
						<table>
						<col width="37" />
						<col width="" />
						<col width="60" />
						<tr>
						<th><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/sstit_type.gif" alt="加工方法" width="27" height="22" /></th>
						<td>
							インクジェット　前面中央（27&times;27）						</td>
						<td><a href="#" onclick="selWork(); return false;" onFocus="this.blur();"><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/bt_change.gif" width="50" height="25" /></a></td>
						</tr>
						</table>
					</div>
					<!--//商品・デザインの変更-->
					<p id="loadBtn"><span class="opaque"><img src="@uniqlo.utility.Config.RES_HOST/simulation/images/bt_load_design.gif" alt="自分で保存したデザインを呼び出す" width="340" height="40" /></span></p>
				</div>
				<!--//LeftBlock-->
				<!--RightBlock-->
				<div id="imageBlock" class="right">
					<div id="mainImage">
						<span id="borderBtn"><a href="#" onclick="switchBorder(); return false;">枠線</a></span>
						<div id="itemView">
							<!--ViewItem--><img src="@uniqlo.utility.Config.RES_HOST/simulation/atelier.php/gadget/getImage9162.png?image=simulation/tmp/40606ca7ebcb3ddee50cbbfde4acddc0428b75b1_wf.png" width="440" height="440" usemap="#item_image_map" />
<map name="item_image_map">
							<area shape="poly" coords="144,201,297,201,297,353,144,353" href="javascript:openDesignTool('11568')" />
</map>
						</div>
					</div>
					<ul class="imgList clr" style="width:114px; margin:0 auto;">
						<li class="current" style="width:52px; margin:0 5px 0 0;">前<a href="#" onclick="return false;" style="cursor:default"><img src="http://customize.uniqlo.com/atelier.php/gadget/getResampledImage?image=item_pos_image/item_pos/3193_550642da.png&amp;width=50&amp;height=50" width="50" height="50" /></a></li>
						<li style="width:52px; margin:0 5px 0 0;">後<a href="#" onclick="location.href='http://customize.uniqlo.com/store.php/simulation/selPos/1/3194'; return false;"><img src="http://customize.uniqlo.com/atelier.php/gadget/getResampledImage?image=item_pos_image/item_pos/3194_55064321.png&amp;width=50&amp;height=50" width="50" height="50" /></a></li>
					</ul>
				</div>
				<!--//RightBlock-->
			</div>
		</div>
		<!-- //contents area end -->
				<!-- footer area start -->
<div id="footer">
<div class="fnav1">
<ul>
<li><a href="http://www.uniqlo.com/jp/shop/" title="店舗検索"><img src="@uniqlo.utility.Config.RES_HOST/simulation/common/image/fnav01.gif" alt="店舗検索" width="53" height="10" /></a></li>
<li><a href="http://faqnavi12a.csview.jp/faq2/usernavi.do?user=frgroup&amp;faq=index" title="お客様窓口"><img src="@uniqlo.utility.Config.RES_HOST/simulation/common/image/fnav02.gif" alt="お客様窓口" width="73" height="10" /></a></li>
<li><a href="http://www.uniqlo.com/jp/corp/" title="企業情報"><img src="@uniqlo.utility.Config.RES_HOST/simulation/common/image/fnav03.gif" alt="企業情報" width="63" height="10" /></a></li>
<li><a href="http://www.uniqlo.com/jp/employment/" title="採用情報"><img src="@uniqlo.utility.Config.RES_HOST/simulation/common/image/fnav04.gif" alt="採用情報" width="64" height="10" /></a></li>
<li><a href="http://faqnavi12a.csview.jp/faq2/userqa.do?user=frgroup&amp;faq=uniqloec&amp;id=5139&amp;parent=3866" title="プライバシーポリシー"><img src="@uniqlo.utility.Config.RES_HOST/simulation/common/image/fnav05.gif" alt="プライバシーポリシー" width="113" height="10" /></a></li>
</ul>
<address><img src="@uniqlo.utility.Config.RES_HOST/simulation/common/image/copy.gif" alt="Copyright &copy; UNIQLO Co., Ltd. All Rights Reserved." width="242" height="12" /></address>
<p><a href="http://www.uniqlo.com/jp/" title="UNIQLO"><img src="@uniqlo.utility.Config.RES_HOST/simulation/common/image/logo03.gif" alt="UNIQLO" width="28" height="28" /></a></p>
</div> <!-- end of class="fnav1" -->

<dl class="fnav2">
<dt><img src="@uniqlo.utility.Config.RES_HOST/simulation/common/image/fnav06.gif" alt="World UNIQLO" width="84" height="10" /></dt>
<dd><a href="http://www.uniqlo.com/jp/" title="JAPAN"><img src="@uniqlo.utility.Config.RES_HOST/simulation/common/image/fnav07.gif" alt="JAPAN" width="50" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/us/" target="_blank" title="USA"><img src="@uniqlo.utility.Config.RES_HOST/simulation/common/image/fnav08.gif" alt="USA" width="38" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/uk/" target="_blank" title="UK"><img src="@uniqlo.utility.Config.RES_HOST/simulation/common/image/fnav09.gif" alt="UK" width="32" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/fr/" target="_blank" title="FRANCE"><img src="@uniqlo.utility.Config.RES_HOST/simulation/common/image/fnav10.gif" alt="FRANCE" width="58" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/ru/" target="_blank" title="RUSSIA"><img src="@uniqlo.utility.Config.RES_HOST/simulation/common/image/fnav11.gif" alt="RUSSIA" width="56" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/kr/" target="_blank" title="KOREA"><img src="@uniqlo.utility.Config.RES_HOST/simulation/common/image/fnav12.gif" alt="KOREA" width="52" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/cn/" target="_blank" title="CHINA"><img src="@uniqlo.utility.Config.RES_HOST/simulation/common/image/fnav13.gif" alt="CHINA" width="49" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/hk/" target="_blank" title="HONGKONG"><img src="@uniqlo.utility.Config.RES_HOST/simulation/common/image/fnav14.gif" alt="HONGKONG" width="76" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/tw/" target="_blank" title="TAIWAN"><img src="@uniqlo.utility.Config.RES_HOST/simulation/common/image/fnav15.gif" alt="TAIWAN" width="58" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/sg/" target="_blank" title="SINGAPORE"><img src="@uniqlo.utility.Config.RES_HOST/simulation/common/image/fnav16.gif" alt="SINGAPORE" width="78" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/my/" target="_blank" title="MALAYSIA"><img src="@uniqlo.utility.Config.RES_HOST/simulation/common/image/fnav17.gif" alt="MALAYSIA" width="59" height="10" /></a></dd>
</dl>
</div>
<!-- footer area end -->
			</div>
		</div>
	</body>

<!-- Mirrored from customize.uniqlo.com/store.php/simulation/setWork/1/3158/11568 by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Apr 2015 15:23:35 GMT -->
</html>
