<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
	
<!-- Mirrored from www.uniqlo.utility.com/customize/start.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 20 Apr 2015 15:35:33 GMT -->
<head>
		<meta http-equiv="Content-Language" content="ja">
		<title>uniqlo.utility CUSTOMIZE｜はじめての方へ</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="オリジナル,プレゼント,ユニフォーム,カスタマイズ,チームウェア,ユニクロ,ＵＮＩＱＬＯ ＣＵＳＴＯＭＩＺＥ,ユニクロ,ユニクロオンラインストア" />
		<meta name="description" content="uniqlo.utility CUSTOMIZE ユニクロ商品に１枚から簡単にカスタマイズできます。豊富なデザイン、カラー、文字などから自由に組み合わせてオリジナルプレゼントやチームウェアを楽しめます" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<link rel="stylesheet" href="@uniqlo.utility.Config.RES_HOST/common/css/import.css" type="text/css" media="screen,all" />
		<link rel="stylesheet" href="@uniqlo.utility.Config.RES_HOST/common/css/start.css" type="text/css" media="screen,all" />
		<link rel="stylesheet" href="@uniqlo.utility.Config.RES_HOST/common/css/print.css" type="text/css" media="print" />
		<script type="text/javascript" src="@uniqlo.utility.Config.RES_HOST/common/js/jquery.js"></script>
        @*<script type="text/javascript" src="@uniqlo.utility.Config.RES_HOST/common/js/easing.js"></script>*@
        <script type="text/javascript" src="@uniqlo.utility.Config.RES_HOST/common/js/common.js"></script>
		<style type="text/css">
.auto-style1 {
	color: #FF0000;
}
.auto-style2 {
	color: #FF0000;
	font-size: x-small;
}
</style>
	</head>
	<body id="start">
		<div id="container-wrap">
			<a href="#" name="top"></a>
			<div id="container">
<!-- header area start -->
<div id="hnavi-wrap">
<p class="logo1"><a href="http://www.uniqlo.utility.com/jp/" title="uniqlo.utility"><img src="@uniqlo.utility.Config.RES_HOST/common/image/logo01.gif" alt="uniqlo.utility" width="70" height="70" /></a></p>
<h1 class="logo2 ro"><a href="top.html" title="uniqlo.utility CUSTOMIZE"><img src="@uniqlo.utility.Config.RES_HOST/common/image/logo02.gif" alt="uniqlo.utility CUSTOMIZE" width="308" height="30" /></a></h1>

<div class="hnav ro">
<ul class="hnav1">
<li class="firstChild"><a href="start.html" title="はじめての方へ"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav01.gif" alt="はじめての方へ" width="72" height="12" /></a></li>
<li><a href="#price" title="料金表"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav02.gif" alt="料金表" width="42" height="12" /></a></li>
<li><a href="https://customize.uniqlo.utility.com/my.php/account/interimRegistration" title="新規会員登録"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav03.gif" alt="新規会員登録" width="68" height="12" /></a></li>
<li><a href="https://customize.uniqlo.utility.com/store.php" title="ショッピングカート"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav04.gif" alt="ショッピングカート" width="105" height="12" /></a></li>
</ul>

<ul class="hnav2">
<li class="firstChild"><a href="select.html" title="デザイン作成"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav05.gif" alt="デザイン作成" width="119" height="11" /></a></li>
<li><a href="sp/index.html" title="特集"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav06.gif" alt="特集" width="85" height="11" /></a></li>
</ul>
</div> <!-- end of class="hnav" -->

<ul class="hnav3 ro">
<li><a href="https://customize.uniqlo.utility.com/my.php" title="マイページ"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav07.gif" alt="マイページ" width="90" height="50" /></a></li>
<li><a href="https://customize.uniqlo.utility.com/my.php/account/login" title="ログイン"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav08.gif" alt="ログイン" width="90" height="19" /></a></li>
</ul>
</div>
<!-- header area end -->
				
				<!-- contents area start -->
				<div id="contents">
					<h2><img src="image/start_title_en_2.gif" width="400" height="64" alt="WHAT'S uniqlo.utility CUSTOMIZE?" title="WHAT'S uniqlo.utility CUSTOMIZE?"/></h2>
					<div class="title clearfix">
						<h2><img src="image/start_title_jp_1.gif" width="757" height="77" alt="はじめての方へ" title="はじめての方へ"/></h2>
					</div>
					
					<div class="main">

						<ul class="cnavi2">
						<li>■ このページの目次</li>
				<li>  ＞ <a href="#customize">uniqlo.utility CUSTOMIZEでできること</a></li>
				<li>  ＞ <a href="#flow">ご注文の流れ（シルクプリント、インクジェットプリント、刺繍）</a></li>
				<li>  ＞ <a href="#sample">仕上がり見本</a></li>
				<li>  ＞ <a href="#price">ユニクロカスタマイズ料金表</a></li>
				<li>  ＞ <a href="#carriage">送料について</a></li>
						</ul>
					</div>
					
					<!-- section -->
					<h3><img src="image/stat_stitle1_2.gif" width="600" height="83" alt="コンセプトは「服を楽しむ。服で表現する。」" title="コンセプトは「服を楽しむ。服で表現する。」"/></h3>
			 		<div class="main bt-none">
			 			<div class="section1">
			 				<p><span class="text">『uniqlo.utility CUSTOMIZE』は、WEBから簡単に商品へのプリントや刺繍をオーダーできるサービスです。<br />
			 				<br />
			 				ユニクロの商品にお気に入りのデザインを加えて「自分だけのユニクロ」を楽しんだり、<br />
			 				大切な人の名前やメッセージを入れて「世界にひとつしかないプレゼント」を作ったり、<br />
			 				チームや会社の名前を入れて「お手軽ユニフォーム」を揃えたり。<br />
			 				<br />
			 				1枚から注文でき、お届けは10日前後です。</span><br />
			 				<span class="text"><!--加工料金もわかりやすく、「1枚からでも1ヶ所500円～」としました。<span class="caution">※2</span>--></span>
							<span class="text" style="font-size: x-small"><span class="auto-style1">&nbsp;※詳しくは注文フローで表示される出荷予定日をご確認ください。</span></span>
							</p>
														
							<p>
							<!--<li><span class="caution">※2</span> 詳細は各サービスの料金表をご確認ください。</li>--><br />
							<br />
							操作もいたって簡単。<br />
							WEB上で簡単にデザインを作る事ができます。<br/>
							<br />
							さらに、デザインの共有も簡単にできるようになりましたので、<br />
							作ったデザインを仲間にメールで共有して意見を交換しながらデザインを完成させたり、<br />
							自分のブログやツイッターで公開することもできます。<br/>
							<br /><br />

							<span class="text">プライベートにもビジネスにも使える簡単・お手軽カスタマイズサービスで、<br />
							「あなただけのユニクロ」をお楽しみください。</span></p>
							
							<ul class="cnavi1">
								<li><a href="select.html"><span class="none">uniqlo.utility CUSTOMIZEへ</span></a></li>
							</ul>
	<ul class="caution">
		<li></li>
	</ul>
			</div>
					</div>
					
					<!-- section -->
					<a href="#" name="customize"></a>
					<h3><map name="FPMap4">
					<area href="#top" shape="rect" coords="852, 21, 935, 40" 
     alt="PAGE TOP">
					</map><img src="image/start_stitle2a.gif" width="948" height="63" alt="uniqlo.utility CUSTOMIZEでできること" title="uniqlo.utility CUSTOMIZEでできること" usemap="#FPMap4"/></h3>
     
					<div class="main">				
                        <div class="paragraph">
							<h4><img src="image/stat_text16_2.gif" width="656" height="17" alt="簡単にオリジナルデザインを作成する事ができます。（インクジェットプリント、転写プリント）" title="ユ簡単にオリジナルデザインを作成する事ができます。（インクジェットプリント、転写プリント）"/></h4>
							<div class="share clearfix">
								<p class="fl-left"><img src="image/stat_pic_yd01.gif" width="365" height="250" alt=""/></p>
								<p class="fl-right text">好きな文字を入力してプリントすることができます。<br><br>お手持ちのデザインや写真などの画像をアップロードし、<br>プリント加工を施すことができます。<br>※転写プリントは文字のみとなります。<br><br>文字やイラスト、画像を自由に組み合わせて<br>オリジナルのデザインをつくることができます。<br><br>簡単に使えるフリー素材をご用意しており、自由なアレンジが可能です。<br><br>文字やデザインのサイズを変更したり、自由にレイアウトすることができます。<br><br>作成したデザインの共有用のURLを発行する事ができます。<br>メールで仲間に共有したり、<br>ブログやツイッター、facebookなどに公開する事ができます。</p><br> 
							</div>

						</div>
						
<ul class="cnavi8">
<!--<li><a href="http://www.uniqlo.utility.com/customize/sp/hint/hint_ink.html" target=”_blank”><span class="none"> デザインの作り方はこちら</span></a></li>-->
</ul>
						</div>
						
<div class="main">				
<div class="paragraph">
<a href="#" name="silk"></a>
<br>
			<h4><img src="image/stat_text_sub6b.gif" width="532" height="17" alt="発色が良く、追加注文もお得な「シルクプリント」が登場しました。" title="ユニクロデザインツールに、発色が良く、追加注文もお得な「シルクプリント」が登場しました。"/></h4>
			<div class="share clearfix">
			<p class="fl-left"><img src="image/stat_pic_silk_01.jpg" width="365" height="317" alt=""/></p>
			<p class="fl-right text">
			初回に原版代がかかりますが、枚数に応じて加工費が安くなります。<br>
			注文は10枚から可能です。<br>
			<br>
			また、商品カラーに関係なく、くっきりと鮮明にプリントでき、<br>
			最大３色まで使用できます。<br>
			<br>
			色あせしにくく、耐久性のある仕上がりです。<br>
			<br>
			色数分の原版はワンセットとなるため、個別での使用や変更はできません。<br>
			<br>
			シルクプリントの原版は1年間保管ができます。<br>
			同じデザイン、同じ加工位置での追加注文の際は、原版代は不要です。<br>
			同じ原版を利用しての再注文は<a href="http://faqnavi12a.csview.jp/faq2/userqa.do?user=frgroup&amp;faq=gwteam&amp;id=11641&amp;parent=4825" target=”_blank”>こちら</a>をご参照ください。<br>
			※原版の保管には会員登録が必要です。</p>
				</div>
                </div>

<ul class="cnavi6">
<li><a href="http://customize.uniqlo.utility.com/store.php/sel_item/1?pt_id=5"><span class="none"> シルクプリントのご注文はこちら</span></a></li>
</ul>
<br/>
<ul class="cnavi8">
<!--<li><a href="http://www.uniqlo.utility.com/customize/sp/hint/hint_silk.html" target=”_blank”><span class="none"> デザインの作り方はこちら</span></a></li>-->
</ul>
						</div>


				<!--<div class="main">
					
                        <div class="paragraph">
							<h4><img src="image/stat_text7a.gif" width="430" height="17" alt="お手持ちの画像でプリントする場合（オリジナルプリント）" title="お手持ちの画像でプリントする場合（オリジナルプリント）"/></h4>
							<div class="share clearfix">
								<p class="fl-left"><img src="image/stat_pic2_6.gif" width="365" height="250" alt=""/></p>
								<p class="fl-right text">お手持ちのデザインや写真などの画像をアップロードし、<br>プリント加工を施すことができます。<br>もっと自由に、もっと自分らしくカスタマイズを楽しみたい方にオススメです。<br><br>オリジナルプリントでご注文は<a 
        href="http://customize.uniqlo.utility.com/store.php/upload/index"><font color="#ff0000">こちら</font></a>。<br><br>「オリジナルプリントサービスの使い方」は<a 
   href="http://customize.uniqlo.utility.com/store.php/upload/index#manual"><font color="#ff0000">こちら</font>。</a></p> 
							</div>
						</div>
						</div>-->
						
						
						<div class="main">
						
						<div class="paragraph">
							<h4><img src="image/stat_text1a-a.gif" width="198" height="17" alt="文字を選んで刺繍する場合" title="文字を選んで刺繍する場合"/></h4>
							<h5><img src="image/stat_text_sub1a.gif" width="159" height="17" alt="⇒テンプレートを選択" title="⇒テンプレートを選択"/></h5>
							<p class="text"><!--日本有数のデザイン事務所による優れたデザインテンプレートとユニクロの商品を自由に組み合わせる事により、<br/>-->
自分だけのファッション・ギフト・ユニフォームなど、新しいユニクロの楽しみ方を発見する事ができます。<br/>ワンポイントと文字の組み合わせや、シンプルに文字のみを加工してのご注文も可能です。</p>
							<!--<p><img src="image/stat_pic2_1a.jpg" width="900" height="85" alt=""/></p>
							<p class="caution">※デザインテンプレート一覧で表示されないデザインもございますが、順次追加いたします。</p>-->
						</div>
						
						<div class="paragraph">
							<h5><img src="image/stat_text_sub3a.gif" width="184" height="17" alt="⇒文字〔フォント〕を選択" title="⇒文字〔フォント〕を選択"/></h5>
							<p class="text">出版・デザイン業界をはじめ、放送業界、映画業界、エンターテイメント業界などで広く使われているプロ仕様のフォントで、<br/>
名前、イニシャル、数字、メッセージなどお好みの文字を入れることができます。</p>
							<!--<p><img src="image/stat_pic2_2b.gif" width="900" height="103" alt=""/></p>
							<p class="caution">※フォント選択画面で表示されないフォントもございますが、順次追加いたします。</p>-->
							<div class="logo clearfix">
								<p class="fl-left"><img src="image/stat_pic2_3.gif" width="106" height="27" alt=""/></p>
								<p class="fl-right">＜フォントワークスフォント＞<br/>「クオリティの高い豊富なラインナップの書体を、もっと自由に、もっと身近に、もっと個性的に使っていただきたい。」とフォントワークスは考えています。<br/>フォントワークスのさまざまな書体で、あなた自身をクリエイティブに表現してください。</p>
							</div>
						</div>
						
						<div class="paragraph">
							<h5><img src="image/stat_text_sub5a.gif" width="218" height="17" alt="⇒18色の中からカラーを選択" title="⇒18色の中からカラーを選択"/></h5>
							<p class="text">選べる刺繍のフォントカラーは18色。お気に入りのメッセージを、お気に入りのカラーで表現することができます。</p>
							<!--<p><img src="image/stat_pic2_4.gif" width="900" height="164" alt=""/></p>-->
<br>
	<ul class="caution">
		<li>※　 お手持ちのﾛｺﾞやイラストを刺繍することはできません。</li>
	</ul>
						</div>
						
					<!--<div class="paragraph">
							<h4><img src="image/stat_text4.gif" width="240" height="17" alt="マイページでデザインを共有する" title="マイページでデザインを共有する"/></h4>
							<div class="share clearfix">
								<p class="fl-left"><img src="image/stat_pic2_5.gif" width="482" height="267" alt=""/></p>
								<p class="fl-right text">作成した「自分だけのユニクロ」は、マイページに保存して共有する事ができます。色々なユニフォームをデザインしてメンバーに共有し、どのデザインが良いかの意見をもらう、というような事も簡単にできます。<br/><br/>※マイページのご利用には会員登録が必要です。<br/>※イージーカスタマイズのデザインデータが共有できます。</p>
							</div>
						</div>-->
					</div>
										
					<!-- section -->
					<a href="#" name="flow"></a>
					<h3><map name="FPMap5">
					<area href="#top" shape="rect" coords="852, 21, 933, 43" 
     alt="PAGE TOP">
					</map><img src="image/start_stitle3a.gif" width="948" height="63" alt="ご注文の流れ" title="ご注文の流れ" usemap="#FPMap5"/></h3>


                  <div class="main">
					<div class="paragraph">
					
	<table border="0" width="900px">
		<tr>
		<td colspan="5" align="center"><img border="0" src="image/stat_text_silk.gif" width="300" height="26"alt="シルクプリント"></td>
		</tr>
		<tr>
		<td colspan="5" height="40"></td>
		</tr>
		<tr>
		<td colspan="2"><img border="0" src="image/start_step_yd01.gif" width="420" height="25" alt="STEP1：商品を選択する"></td>
		<td>&nbsp;</td>
		<td colspan="2"><img border="0" src="image/start_step_yd02.gif" width="420" height="25" alt="STEP2：加工する場所を選択する"></td>
		</tr>
		<tr>
		<td><img border="0" src="image/STEP_yd_01.jpg" width="200" height="150"></td>
		<td class="flow_text" valign="top">クリックして商品を選択してください。<br><br>シルクプリント対象商品は<a 
  href="http://customize.uniqlo.utility.com/store.php/sel_item/1?pt_id=5">こちら</a><br><br>原版を保管される方は、事前に会員登録を済ませて、ログイン後にご注文ください。<br><br>
		<font color="#FF0000">※</font>ログインをせずにご注文した場合、原版は保管されません。</td>
		<td align="center"><img border="0" src="image/start_mark6.gif" width="51" height="45"></td>
		<td><img border="0" src="image/STEP_yd_02a.jpg" width="200" height="150"></td>
		<td class="flow_text" valign="top">ご希望の加工位置を選択してください。<br><br>
		<font color="#FF0000">※</font>最大2箇所まで選択できます。（商品により選択できる位置が異なります）</td>
		</tr>
						
		<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td align="center"><img border="0" src="image/start_mark7.gif" width="51" height="45"></td>
		</tr>
    </table>

<table border="0" width="900px">
		<tr>
		<td colspan="3" align="center"><img border="0" src="image/start_step_silk03.gif" width="420" height="25" alt="STEP3：原版となるデザインを作成する"></td>
		</tr>
		<tr>
		<td align="center"><img border="0" src="image/STEP_silk_03.jpg"  width="225" height="150"></td>
		<td align="center"><img border="0" src="image/STEP_silk_04.jpg"  width="225" height="150"></td>
		<td align="center"><img border="0" src="image/STEP_silk_05.jpg"  width="225" height="150"></td>
		</tr>
		<tr>
		 <td class="flow_text" valign="top">●書体を選んで文字をデザインすることができます。<br>
			<font color="#FF0000">※</font>拡大・縮小、回転が可能です。<br>
			<font color="#FF0000">※</font>最大3色まで加工カラーを選択できます。</td>
		 <td class="flow_text" valign="top">●イラストやイメージを自由に配置できます。<br>
			<font color="#FF0000">※</font>比率を変えず拡大・縮小したい場合はShiftキーを押しながら作業してください。</td>
		 <td class="flow_text" valign="top">●自分で作成したイラスト（png画像）ですとアップロードが可能です。<br>
			<font color="#FF0000">※</font>文字の追加入力もできます。<br>
			<font color="#FF0000">※</font>アップロードはpng形式の画像のみ可能です。</td>
		</tr>
</table>
<table border="0" width="900px">
		<tr>	
		 <td>&nbsp;</td>
         <td align="center"><img border="0" src="image/start_mark7.gif" width="51" height="45"></td>
		 <td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		</tr>
		<tr>
		<td colspan="2"><img border="0" src="image/start_step_yd04.gif" width="420" height="25" alt="STEP4：デザインを確認する"></td>
		<td>&nbsp;</td>
		<td colspan="2"><img border="0" src="image/start_step_yd05.gif" width="420" height="25" alt="STEP5：注文数を確認する"></td>
		</tr>
		<tr>
		<td><img border="0" src="image/STEP_silk_07.jpg" width="200" height="150"></td>
		<td class="flow_text" valign="top">作成したデザインの確認をします。<br><br>
		<font color="#FF0000">※</font>加工位置・デザインが決まりましたら、「このデザインで注文する」をクリックしてください。<br>
		<font color="#FF0000">※</font>免責事項をご確認のうえ、「上記の内容に同意して注文する」ボタンから注文枚数入力へお進みください。</td>
		<td align="center"><img border="0" src="image/start_mark6.gif" width="51" height="45"></td>
		<td><img border="0" src="image/STEP_silk_08.jpg" width="200" height="150"></td>
		<td class="flow_text" valign="top">サイズと枚数を入力してください。<br><br><font color="#FF0000">※</font>10枚以上からご注文を承ります。<br><font color="#FF0000">※</font>加工料金は自動で計算され表示されます。<br><font color="#FF0000">※</font>原版代は、使用された色数に応じて合計金額に自動的に加算されて表示されます。	</td>
		</tr>
		<tr>				
		<td>&nbsp;</td>
		<td>&nbsp;</td>
        <td align="center"><img border="0" src="image/start_mark7.gif" width="51" height="45"></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		</tr>
		<tr>				
		<td colspan="2"><img border="0" src="image/start_step_yd06.gif" width="420" height="25" alt="STEP6：ご注文金額の確認"></td>
		<td>&nbsp;</td>
		<td colspan="2"><img border="0" src="image/start_step_yd07.gif" width="420" height="25" alt="STEP7：お届け先・お支払い方法を選択して注文完了"></td>
		</tr>
		<tr>
		<td><img border="0" src="image/STEP_silk_09a.jpg" width="200" height="150"></td>
		<td class="flow_text" valign="top">ご注文内容をご確認後、お間違いなければ、「注文する」をクリックしてください。</td>
		<td align="center"><img border="0" src="image/start_mark6.gif" width="51" height="45"></td>
		<td><img border="0" src="image/STEP_09.jpg" width="200" height="150"></td>
		<td class="flow_text" valign="top">お届け先のご住所と、お支払い方法を選択してください。<br><br>お支払いの方法は、代金引換、クレジットカード払いとなります。</td>
		</tr>
</table>
					</div>
					</div>
										
    <div class="main">
	<table border="0" width="900px" height="330">
	<tr>
	<td><p align="center"><img border="0" src="image/stat_text_ink.gif" width="300" height="26" alt="インクジェットプリント"></p></td>
	<td><p align="center"><img border="0" src="image/stat_text_emb.gif" width="300" height="26" alt="刺繍"></p></td>
	</tr>
	<tr>
	<td><p align="center"><img border="0" src="image/stat_ink.gif" width="450" height="250" alt="インクジェットプリント ご注文の流れ"></p></td>
	<td><p align="center"><img border="0" src="image/stat_emb.gif" width="450" height="250" alt="刺繍 ご注文の流れ"></p></td>
	</tr>
	<tr>
	<td><p align="center"><font size="2">※インクジェットプリントは１枚からご注文できます。</font></p></td>
	<td><p align="center"><font size="2">※刺繍は１枚からご注文できます。</font></p></td>
	</tr>
		</table>
                    
					<!--<div class="paragraph">
					
		<table border="0" width="100%">
		<tr>
			<td colspan="2" align="center"><img src="image/stat_text14.gif" width="400" height="25" alt=""/></td>
			<td width="18">&nbsp;</td>
			<td colspan="2" align="center"><img src="image/stat_text15.gif" width="400" height="25" alt=""/></td>
		</tr>
		<tr>
			<td colspan="2"  class="flow_img" align="center"><img src="image/start_step1.gif" width="400" height="25" alt="STEP1：商品と加工する場所を選択する"/></td>
			<td width="18">&nbsp;</td>
			<td colspan="2"  class="flow_img" align="center"><img src="image/start_step2.gif" width="400" height="25" alt="STEP1：商品と加工の種類を選択する"/></td>
		</tr>
		<tr>
		
			<td><img src="image/STEP_01.jpg" width="200" height="150" alt=""/></td>
			<td class="flow_text" valign="top">商品名をクリックすると商品の変更ができます。<br><br>「MEN」「WOMEN」「KIDS」より商品カテゴリの変更ができます。</td>
			<td width="18">&nbsp;</td>
			<td><img src="image/STEP_02.jpg" width="200" height="150" alt=""/></td>
			<td class="flow_text" valign="top">ご希望の商品画像の下にある「プリント」「刺繍」から、ご希望の加工の種類を選んでください。</td>
		
		</tr>
		<tr>
			<td colspan="2"  class="flow_img" align="center" height="50" 
   valign="bottom"><img src="image/start_mark1.gif" width="51" height="45" alt=""/></td>
			<td width="18">&nbsp;</td>
			<td colspan="2"  class="flow_img" align="center" height="50" 
   valign="bottom"><img src="image/start_mark2.gif" width="51" height="45" alt=""/></td>
		</tr>
				<tr>
			<td colspan="2"  class="flow_img" align="center"><img src="image/start_step3.gif" width="400" height="25" alt="STEP2：加工する画像をアップロードする"/></td>
			<td width="18">&nbsp;</td>
			<td colspan="2"  class="flow_img" align="center"><img src="image/start_step4.gif" width="400" height="25" alt="STEP2：加工するテンプレートを選択する"/></td>
		</tr>
		<tr>
			<td><img src="image/STEP_03.jpg" width="200" height="150" alt=""/></td>
			<td class="flow_text" valign="top">アップロードできる画像は、JPG・PNGのみとなります。<br><br>画像アップロードについての詳細は<a 
   href="http://customize.uniqlo.utility.com/store.php/upload/index#manual"><font color="#ff0000">こちら</font>。</a></td>
			<td width="18">&nbsp;</td>
			<td><img src="image/STEP_04.jpg" width="200" height="150" alt=""/></td>
			<td class="flow_text" valign="top">ご希望のテンプレートにカーソルをあわせると、加工のイメージ画像が表示されます。<br><br>※デザインカテゴリ、「ワード」を選択すると、文字のみの加工もできます。</td>
		</tr>
		<tr>
			<td colspan="2" class="flow_img" align="center" height="50" 
   valign="bottom"><img src="image/start_mark1.gif" width="51" height="45" alt=""/></td>
			<td width="18">&nbsp;</td>
			<td colspan="2" class="flow_img" align="center" height="50" 
   valign="bottom"><img src="image/start_mark2.gif" width="51" height="45" alt=""/></td>
		</tr>
		<tr>
			<td colspan="2" class="flow_img" align="center"><img src="image/start_step5.gif" width="400" height="25" alt="STEP3：デザインを確認する"/></td>
			<td width="18">&nbsp;</td>
			<td colspan="2" class="flow_img" align="center"><img src="image/start_step6.gif" width="400" height="25" alt="STEP3：文字を入力し、デザインを確認する"/></td>
		</tr>
		<tr>
			<td><img src="image/STEP_05.jpg" width="200" height="150" alt=""/></td>
			<td class="flow_text" valign="top">加工イメージの確認をしてください。<br>左下のボタンをクリックすると裏面、デザインの拡大イメージが確認できます。<br><br>デザインを変更する場合は再度、画像をアップロードしてください。</td>
			<td width="18">&nbsp;</td>
			<td><img src="image/STEP_06.jpg" width="200" height="150" alt=""/></td>
			<td class="flow_text" valign="top">文字を入力すると加工イメージが確認できます。<br>書体や文字のカラーも変更できます。<br><br>※デザインテンプレートのカラーは固定です。<br><br>左下のボタンをクリックすると裏面、デザインの拡大イメージが確認できます。</td>
		</tr>
		</table>
		
		   <table border="0" width="100%">
			<tr>
			<td colspan="4" class="flow_img2" align="center" height="50" valign="bottom"><img src="image/start_mark4.gif" width="102" height="45" alt=""/></td>
			</tr>
			<tr>
			<td colspan="4" valign="top" align="center">ここからは、ユニクロデザインツールのＳＴＥＰ５以降と同じ流れとなります。</td>
           </tr>
			<tr>
			<td colspan="4" class="flow_img2" align="center"><img src="image/start_step7.gif" width="400" height="25" alt="STEP4：注文数を選択する"/></td>
			</tr>
			<tr>
			<td colspan="4" class="flow_img2" align="center" height="50"><img src="image/start_mark3.gif" width="51" height="45" alt=""/></td>
			</tr>
			<tr>
			<td colspan="4" class="flow_img2" align="center"><img src="image/start_step8.gif" width="400" height="25" alt="STEP5：注文金額の確認"/></td>
			</tr>
			<tr>
			<td colspan="4" class="flow_img2" align="center" height="50" valign="bottom"><img src="image/start_mark3.gif" width="51" height="45" alt=""/></td>
			</tr>
			<tr>
			<td colspan="4" class="flow_img2" align="center"><img src="image/start_step9.gif" width="420" height="25" alt="STEP6：お届け先・お支払方法の選択して注文完了"/></td>
			</tr>
		</table>
		   </div>-->

	
					</div>
					
					<!-- section sample-->
					<a href="#" name="sample"></a>
					<h3><map name="FPMap2">
					<area href="#top" shape="rect" coords="850, 22, 936, 41" 
     alt="PAGE TOP">
					</map><img src="image/start_stitle6a.gif" width="948" height="63" alt="仕上がり見本" title="仕上がり見本" usemap="#FPMap2"/></h3>
				<div class="main">
					<p><span class="text">実際の商品へ加工したデザインや、加工色のサンプルを掲載しています。<br>あなただけの服を、あなたの思い通りにカスタマイズしていただくために、こちらのページを参考にしてみてください。<br><font color="#ff0000">※お客様のパソコン環境により色味が若干異なって見える場合があります。</font></p>
					<br>
					<ul class="cnavi5">
					<li><a href="sp/sample/index.html" alt="仕上がり見本へ" title="仕上がり見本へ"><span class="none">仕上がり見本へ</span></a></li>
					</ul>
				</div>

					<!-- section sample end-->
									
					<!-- section -->
					<a href="#" name="price"></a>
					<h3><map name="FPMap1">
					<area href="#top" shape="rect" coords="851, 21, 935, 42" 
     alt="PAGE TOP">
					</map><img src="image/start_stitle4a.gif" width="948" height="63" alt="ユニクロカスタマイズ料金表" title="ユニクロカスタマイズ料金表" usemap="#FPMap1"/></h3>
					<div class="main">
					

						
						<div class="paragraph">
				<h4><img src="image/price-2.gif" width="330" height="17" alt="インクジェットプリント・転写プリント料金表" title="インクジェットプリント・転写プリント料金表"/></h4>
						<!--<p class="price"><img src="image/stat_text10.gif" width="450" height="39" alt="【オープニング記念 お試し価格キャンペーン実施中！】今なら１枚のプリントもお試し価格でご提供中！（5/31（日）まで）" title="【オープニング記念 お試し価格キャンペーン実施中！】今なら１枚のプリントもお試し価格でご提供中！（5/31（日）まで）"/></p>-->
						<div>
						
						<p class="site_team005">平成26年4月1日より価格改定いたしました。</p>
						</div>
					
						<table class="price2" width="500px">
							<tr>
							<th rowspan="2" width="140">&nbsp;</th>
							<th colspan="2" class="d_color" width="250">インクジェットプリント</th>
                            <th class="d_color_ten" rowspan="2" width="140">転写プリント</th>
							</tr>
							<tr>
								<th class="d_color_2">ホワイト商品</th>
								<th class="d_color_2">カラー商品</th>
							</tr>
							<tr>
								<td style="width:140px">右胸・左胸</td>
								<td>¥470</td>
								<td>¥950</td>
								<td style="width:140px">¥950</td>							
							</tr>
							<tr>
								<td style="width:140px">胸中央・背中中央</td>
								<td rowspan="4">¥950</td>
								<td>¥2,090</td>
								<td style="width:140px">¥2,090</td>																
							</tr>
							<tr>
								<td style="width:140px">襟下</td>
								<td>¥950</td>
								<td style="width:140px">¥950</td>
							</tr>
							<tr>
								<td style="width:140px" height="21">前裾・後裾</td>
								<td rowspan="2">¥1,420</td>
							    <td style="width:140px" height="21">¥2,090</td>
							</tr>
							<tr>
								<td style="width:140px" height="23">右袖・左袖</td>
								<td style="width:140px" height="23">¥950</td>					
							</tr>
							<tr>
								<td style="width:140px">背番号</td>
								<td>-</td>
								<td>-</td>
								<td style="width:140px">¥1,420</td>							
							</tr>
							<tr>
								<td style="width:140px">背番号＋文字</td>
								<td>-</td>
								<td>-</td>
								<td style="width:140px">¥2,090</td>							
							</tr>
							
							<!--　◆キルティングバッグ　料金表◆
							<tr>
								<td style="width:140px">バッグ1行</td>
								<td>-</td>
								<td>-</td>
								<td style="width:140px">¥950</td>							
							</tr>
							<tr>
								<td style="width:140px">バッグ5行セット</td>
								<td>-</td>
								<td>-</td>
								<td style="width:140px">¥2,400</td>							
							</tr>
							-->

						</table>
<ul class="price_kome">
<li><font color="#FF0000">※表示価格はすべて税抜価格です。</font></li>
<li>・上記料金は1商品の加工1箇所あたりの料金です。</li>
<li>・ひとつの商品に2箇所プリントした場合は、商品1点あたりの加工費合計から￥200引きとなります。</li>
<li>・インクジェットプリントでは、商品カラー、素材に応じて２種類のプリントがあります。</li>
<li>・「カラー商品」は発色を良くするために下地（白インク）の処理が必要なため、「ホワイト商品」と価格が異なります。</li>
<!--<li>   ホワイト商品：生地に馴染む仕上がりとなります。（※一部商品は素材の特性上、下地の白インクが必要となり、カラー商品と同じ加工となります）</li>-->
<!--<li>   カラー商品：下地に白インクプリント後にカラープリントをしますので鮮やかな発色となります。</li>-->
<li>・商品によって加工する種別が、インクジェットプリントと転写プリントとに分かれます。</li>
</ul>
	
					  </div>
<br><br>
			<a href="#" name="silk-price"></a>
			<h4><img src="image/price-silk.gif" width="163" height="17" alt="シルクプリント料金表" title="シルクプリント料金表"/></h4>
<div class="paragraph">	
<br>				  
					<table class="price2">
						<tr>
						    <th class="price3_2" colspan="2" width="140"　height="44">&nbsp;</th>
							<th colspan="3" class="silk_color" style="width:210px">シルクプリント</th>
						</tr>


						<tr>
						    <th colspan="2">加工カラー数</th>
							<th style="width:70px">１色</th>
							<th style="width:70px">２色</th>
							<th style="width:70px">３色</th>
					    </tr>
						<tr>
						<th colspan="2" align="center">原版代</th>
							<td style="width:70px">¥11,900</td>
							<td style="width:70px">¥23,210</td>
							<td style="width:70px">¥34,520</td>
						</tr>

						<tr>
						    <td class="price3_2" rowspan="5" style="width:65px">加工料金</td>
							<td style="width:70px">10～29枚</td>
						    <td style="width:70px">¥510</td>
						    <td style="width:70px">¥800</td>
						    <td style="width:70px">¥1,090</td>
						</tr>
						<tr>
							<td style="width:70px" height="21">30～49枚</td>
							<td style="width:70px" height="21">¥470</td>
						    <td style="width:70px" height="21">¥750</td>
						    <td style="width:70px" height="21">¥1,010</td>
						</tr>
						<tr>
							<td style="width:70px" height="23">50～99枚</td>
							<td style="width:70px" height="23">¥440</td>
						    <td style="width:70px" height="23">¥690</td>
						    <td style="width:70px" height="23">¥930</td>
						</tr>
						<tr>
							<td style="width:70px" height="21">100枚以上</td>
							<td style="width:70px" height="21">¥400</td>
						    <td style="width:70px" height="21">¥630</td>
						    <td  style="width:70px"height="21">¥840</td>
						</tr>
						<tr>
							<td style="width:70px">200枚以上</td>
							<td style="width:70px">¥370</td>
						    <td style="width:70px">¥570</td>
						    <td style="width:70px">¥760</td>
						</tr>
					</table>
<ul class="price_kome">
<li><font color="#FF0000">※表示価格はすべて税抜価格です。</font></li>
<li>・デザインを加工する際には、原版代が必要です。</li>
<li>・9枚以下はご注文できません。</li>
<li>・上記料金は1商品の加工1箇所あたりの料金です。</li>
<li>・同一デザインでも加工カラーを変更される場合は、再度原版代が発生します。</li>
</ul>

</div>
<br>		  
<div class="paragraph">
			<!--<h4><img src="image/stat_text8.gif" width="330" height="17" alt="オリジナルプリント料金表" title="オリジナルプリント料金表"/></h4>-->
						<!--<p class="price"><img src="image/stat_text10.gif" width="450" height="39" alt="【オープニング記念 お試し価格キャンペーン実施中！】今なら１枚のプリントもお試し価格でご提供中！（5/31（日）まで）" title="【オープニング記念 お試し価格キャンペーン実施中！】今なら１枚のプリントもお試し価格でご提供中！（5/31（日）まで）"/></p>-->
						<div>
						

						</div>

						  <!--<ul class="cnavi3">
								<li><a href="http://customize.uniqlo.utility.com/store.php/upload/index?item_id=50&color_id=143"><span class="none">オリジナルプリントで注文する</span></a></li>
						</ul>-->
					  </div>
<br>
						<div class="paragraph">
							<h4><img src="image/price-embro.gif" width="87" height="17" alt="刺繍料金表" title="刺繍料金表"/></h4>
						<!--<p class="price"><img src="image/stat_text5.gif" width="450" height="39" alt="【オープニング記念 お試し価格キャンペーン実施中！】今なら１枚のプリントもお試し価格でご提供中！（5/31（日）まで）" title="【オープニング記念 お試し価格キャンペーン実施中！】今なら１枚のプリントもお試し価格でご提供中！（5/31（日）まで）"/></p>-->
						<p class="site_team005">平成26年4月1日より価格改定いたしました。</p>
						<table class="price2">
							<tr>
								<th rowspan="2" style="width:70px">&nbsp;</th>
								<th colspan="2" class="ez_color_si" style="width:140px" height="20">文字刺繍</th>
							</tr>
							<tr>
								<th style="width:70px" class="ez_color_3">1箇所</th>
								<th style="width:70px" class="ez_color_3">2箇所</th>
							</tr>
							<tr>
								<td>1枚あたり</td>
								<td>¥1,140</td>
								<td>¥1,420</td>
							</tr>
						</table>

&nbsp;<p><font color="#FF0000">※表示価格は税抜価格です。</font><br>
<!--<p class="site_team005">平成23年1月11日より価格改定いたしました。</p>-->

						</div>
						</div>
				<a href="#" name="carriage"></a>		
				<h3><map name="FPMap0">
				<area href="#top" shape="rect" coords="851, 20, 933, 39" 
    alt="PAGE TOP">
				</map><img src="image/start_stitle5a.gif" width="948" height="63" alt="送料について" title="送料について" usemap="#FPMap0"/></h3>
				<div class="main">
				
				          <ul>
						  <li class="text">ご注文完了時の合計金額（商品代金・加工費含む）が税抜5,000円未満の場合、別途送料（
							税抜450円）が必要です。</li>
						  <li class="text">ユニクロカスタマイズとユニクロ・ジーユー オンラインストアのご注文は、異なるショッピングカートのご注文となるため、<br>購入金額は合計できませんので、予めご了承ください。</li>
						  <li class="text">大量購入割引サービスでのご注文は、ショッピングカートを使用しない特別注文となるため、<br>ユニクロカスタマイズを含む他のご注文との合計とはならず、送料は別計算となります。</li>
			              </ul>
                </div>
					
					
					<!-- section -->
					<div class="main">
						<ul class="cnavi2">
							<li>・<a href="http://faqnavi12a.csview.jp/faq2/usernavi.do?user=frgroup&amp;faq=index">お客様窓口 （サービスに関するご質問とお問い合わせ先は、こちらをご覧ください。）</a></li>
							<li>・<a href="rule.html">ご利用規約</a></li>
							<li class="bt-none">・<a href="notice.html">特定商取引に関する法律に基づく表示</a></li>
						</ul>
					</div>
					

				</div>
				<!-- contents area end -->
				
<p id="pagetop" class="ro"><a href="#top"><img src="@uniqlo.utility.Config.RES_HOST/common/image/btn_pagetop.gif" alt="PAGE TOP" title="PAGE TOP" width="73" height="13" /></a></p>

<!-- footer area start -->
<div id="footer">
<div class="fnav1">
<ul>
<li><a href="http://www.uniqlo.utility.com/jp/shop/" title="店舗検索"><img src="@uniqlo.utility.Config.RES_HOST/common/image/fnav01.gif" alt="店舗検索" width="53" height="10" /></a></li>
<li><a href="http://faqnavi12a.csview.jp/faq2/usernavi.do?user=frgroup&amp;faq=index" title="お客様窓口"><img src="@uniqlo.utility.Config.RES_HOST/common/image/fnav02.gif" alt="お客様窓口" width="73" height="10" /></a></li>
<li><a href="http://www.uniqlo.utility.com/jp/corp/" title="企業情報"><img src="@uniqlo.utility.Config.RES_HOST/common/image/fnav03.gif" alt="企業情報" width="63" height="10" /></a></li>
<li><a href="http://www.uniqlo.utility.com/jp/employment/" title="採用情報"><img src="@uniqlo.utility.Config.RES_HOST/common/image/fnav04.gif" alt="採用情報" width="64" height="10" /></a></li>
<li><a href="http://faqnavi12a.csview.jp/faq2/userqa.do?user=frgroup&amp;faq=uniqlo.utilityec&amp;id=5139&amp;parent=3866" title="プライバシーポリシー"><img src="@uniqlo.utility.Config.RES_HOST/common/image/fnav05.gif" alt="プライバシーポリシー" width="113" height="10" /></a></li>
</ul>
<address><img src="@uniqlo.utility.Config.RES_HOST/common/image/copy.gif" alt="Copyright &copy; uniqlo.utility Co., Ltd. All Rights Reserved." width="242" height="12" /></address>
<p><a href="http://www.uniqlo.utility.com/jp/" title="uniqlo.utility"><img src="@uniqlo.utility.Config.RES_HOST/common/image/logo03.gif" alt="uniqlo.utility" width="28" height="28" /></a></p>
</div> <!-- end of class="fnav1" -->

<dl class="fnav2">
<dt><img src="@uniqlo.utility.Config.RES_HOST/common/image/fnav06.gif" alt="World uniqlo.utility" width="84" height="10" /></dt>
<dd><a href="http://www.uniqlo.utility.com/jp/" title="JAPAN"><img src="@uniqlo.utility.Config.RES_HOST/common/image/fnav07.gif" alt="JAPAN" width="50" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.utility.com/us/" target="_blank" title="USA"><img src="@uniqlo.utility.Config.RES_HOST/common/image/fnav08.gif" alt="USA" width="38" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.utility.com/uk/" target="_blank" title="UK"><img src="@uniqlo.utility.Config.RES_HOST/common/image/fnav09.gif" alt="UK" width="32" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.utility.com/fr/" target="_blank" title="FRANCE"><img src="@uniqlo.utility.Config.RES_HOST/common/image/fnav10.gif" alt="FRANCE" width="58" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.utility.com/ru/" target="_blank" title="RUSSIA"><img src="@uniqlo.utility.Config.RES_HOST/common/image/fnav11.gif" alt="RUSSIA" width="56" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.utility.com/kr/" target="_blank" title="KOREA"><img src="@uniqlo.utility.Config.RES_HOST/common/image/fnav12.gif" alt="KOREA" width="52" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.utility.com/cn/" target="_blank" title="CHINA"><img src="@uniqlo.utility.Config.RES_HOST/common/image/fnav13.gif" alt="CHINA" width="49" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.utility.com/hk/" target="_blank" title="HONGKONG"><img src="@uniqlo.utility.Config.RES_HOST/common/image/fnav14.gif" alt="HONGKONG" width="76" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.utility.com/tw/" target="_blank" title="TAIWAN"><img src="@uniqlo.utility.Config.RES_HOST/common/image/fnav15.gif" alt="TAIWAN" width="58" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.utility.com/sg/" target="_blank" title="SINGAPORE"><img src="@uniqlo.utility.Config.RES_HOST/common/image/fnav16.gif" alt="SINGAPORE" width="78" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.utility.com/my/" target="_blank" title="MALAYSIA"><img src="@uniqlo.utility.Config.RES_HOST/common/image/fnav17.gif" alt="MALAYSIA" width="59" height="10" /></a></dd>
</dl>
</div>
		
	</body>

<!-- Mirrored from www.uniqlo.utility.com/customize/start.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 20 Apr 2015 15:35:54 GMT -->
</html>