<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" dir="ltr" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
	
<!-- Mirrored from customize.uniqlo.com/store.php/sel_item/1?pt_id=5 by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 20 Apr 2015 15:59:43 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
		<title>UNIQLO CUSTOMIZE</title>
<base>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css">
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	<meta name="keywords" content="オリジナル,プレゼント,ユニフォーム,カスタマイズ,チームウェア,ユニクロ,ＵＮＩＱＬＯ　ＣＵＳＴＯＭＩＺＥ,ユニクロ,ユニクロオンラインストア" />
	<meta name="description" content="UNIQLO CUSTOMIZE　ユニクロ商品に１枚から簡単にカスタマイズできます。豊富なデザイン、カラー、文字などから自由に組み合わせてオリジナルプレゼントやチームウェアを楽しめます" />
    <link rel="stylesheet" href="@uniqlo.utility.Config.RES_HOST/store/common/css/contents.css" type="text/css" media="screen,all" />
	<link rel="stylesheet" href="@uniqlo.utility.Config.RES_HOST/store/common/css/import.css" type="text/css" media="screen,all" />
    <link rel="stylesheet" href="@uniqlo.utility.Config.RES_HOST/store/common/css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" type="text/css" href="@uniqlo.utility.Config.RES_HOST/store/css/custom.css" />
    <script type="text/javascript" src="@uniqlo.utility.Config.RES_HOST/store/js/prototype.js" charset="UTF-8"></script>
    <script type="text/javascript" src="@uniqlo.utility.Config.RES_HOST/store/common/js/roll_over.js" charset="UTF-8"></script>
	</head>
	<body>
       <a name="top"></a>
		<div id="container-wrap">
		  <div id="container2">
		  <!-- header area start -->
          <div id="hnavi-wrap">
              <p class="logo1"><a href="http://www.uniqlo.com/jp/" title="uniqlo.utility"><img src="@uniqlo.utility.Config.RES_HOST/common/image/logo01.gif" alt="uniqlo.utility" width="70" height="70" /></a></p>
              <h1 class="logo2 ro"><a href="top.html" title="uniqlo.utility CUSTOMIZE"><img src="@uniqlo.utility.Config.RES_HOST/common/image/logo02.gif" alt="uniqlo.utility CUSTOMIZE" width="308" height="30" /></a></h1>

              <div class="hnav ro">
                  <ul class="hnav1">
                      <li class="firstChild"><a href="start.html" title="はじめての方へ"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav01.gif" alt="はじめての方へ" width="72" height="12" /></a></li>
                      <li><a href="start.html#price" title="料金表"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav02.gif" alt="料金表" width="42" height="12" /></a></li>
                      <li><a href="https://customize.uniqlo.com/my.php/account/interimRegistration" title="新規会員登録"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav03.gif" alt="新規会員登録" width="68" height="12" /></a></li>
                      <li><a href="https://customize.uniqlo.com/store.php" title="ショッピングカート"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav04.gif" alt="ショッピングカート" width="105" height="12" /></a></li>
                  </ul>

                  <ul class="hnav2">
                      <li class="firstChild"><a href="select.html" title="デザイン作成"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav05.gif" alt="デザイン作成" width="119" height="11" /></a></li>
                      <li><a href="sp/index.html" title="特集"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav06.gif" alt="特集" width="85" height="11" /></a></li>
                  </ul>
              </div> <!-- end of class="hnav" -->

              <ul class="hnav3 ro">
                  <li><a href="https://customize.uniqlo.com/my.php" title="マイページ"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav07.gif" alt="マイページ" width="90" height="50" /></a></li>
                  <li><a href="https://customize.uniqlo.com/my.php/account/login" title="ログイン"><img src="@uniqlo.utility.Config.RES_HOST/common/image/gnav08.gif" alt="ログイン" width="90" height="19" /></a></li>
              </ul>
          </div>
<!-- header area end -->
				<script type="text/javascript">
window.onload = function() {
	Event.observe('itemList', 'mouseover', mouseEvent);
	Event.observe('itemList', 'mouseout', mouseEvent);
} 
</script>

		<!-- contents area start -->
		<div id="customContainer">
			<div id="contentsHead">
				<div id="stepBox" class="clr">
					<h2><img src="@uniqlo.utility.Config.RES_HOST/store/images/txt_select_item.gif" width="457" height="29" alt="加工したい商品を選んでください" /></h2>
					<ol>
					<li><img src="@uniqlo.utility.Config.RES_HOST/store/images/img_step1_1.gif" width="100" height="25" alt="商品選択" /></li>
					<li><img src="@uniqlo.utility.Config.RES_HOST/store/images/img_step1_2.gif" width="100" height="25" alt="加工位置選択" /></li>
					<li><img src="@uniqlo.utility.Config.RES_HOST/store/images/img_step1_3.gif" width="100" height="25" alt="デザインする" /></li>
					</ol>
				</div>
				<!--//stepBox end-->
				<div id="itemTab" class="navBox">
					<ul id="tabList" class="clearfix">
						<li id="tab1" class="current"><a href="#" onclick="return false;" style="cursor:default">ALL</a></li>
						<li id="tab2"><a href="1/1e4d1.html?pt_id=5">MEN</a></li>
						<li id="tab3"><a href="1/2e4d1.html?pt_id=5">WOMEN</a></li>
						<li id="tab4"><a href="1/3e4d1.html?pt_id=5">KIDS</a></li>
					</ul>
				</div>
				<!--//navBox end -->
			</div>
			<!--//contentsHead-->
			<ul id="itemList" class="clearfix">
				<!--ループここから-->
				<li>
					<div class="inBox">
						<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_men.gif" width="52" height="20" class="catIcon" />
						<a href="/sel_item.html" onFocus="this.blur();" class="itemImage"><img src="http://customize.uniqlo.com/atelier.php/gadget/getResampledImage?image=item/thumbnail/s341-138701-30A.png&amp;width=180&amp;height=180&amp;type=1" width="180" height="180" /></a>
						<div class="explainBox">
							<table>
							<tr>
							<th>
							MEN ドライカノコポロシャツ 半袖（ホワイト）</th>
							<td style="white-space: nowrap;">
							&yen;1,990<br />+消費税</td>
							</tr>
							</table>
							<dl class="colorBox clr">
								<dt>カラー</dt>
								<dd class="clr">
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#B8AA9A;" />
								</dd>
							</dl>
						</div>
						<div class="extendBox">
							<p class="clr">
								<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/3146#posList_5"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_select_item.gif" alt="この商品を選ぶ" width="90" height="20" class="left" /></a>
								<a href="http://customize.uniqlo.com/store.php/stock/index?id=560" target="_blank"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_check_stock.gif" alt="在庫確認" width="70" height="20" class="right" /></a>
							</p>
							<dl class="clr">
								<dt>サイズ</dt>
								<dd>
									S&nbsp;
									M&nbsp;
									L&nbsp;
									XL&nbsp;
									XXL&nbsp;
								</dd>
							</dl>
							<p>商品番号：138701
汗をかいてもすぐ乾いて、肌触りサラサラのドライ機能付きポロシャツ。特殊な糸でムレにくく、涼しく快適な着心地をキープします。
【素材】本体：綿72％・ポリエステル28％，リブ部分：綿57％・ポリエステル43％</p>
						</div>
					</div>
				</li>
				<li>
					<div class="inBox">
						<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_men.gif" width="52" height="20" class="catIcon" />
						<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/3148#posList_5" onFocus="this.blur();" class="itemImage"><img src="http://customize.uniqlo.com/atelier.php/gadget/getResampledImage?image=item/thumbnail/s341-138701-16A.png&amp;width=180&amp;height=180&amp;type=1" width="180" height="180" /></a>
						<div class="explainBox">
							<table>
							<tr>
							<th>
							MEN ドライカノコポロシャツ 半袖（ベーシック）</th>
							<td style="white-space: nowrap;">
							&yen;1,990<br />+消費税</td>
							</tr>
							</table>
							<dl class="colorBox clr">
								<dt>カラー</dt>
								<dd class="clr">
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#212121;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#96262C;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#830908;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#13221B;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#23232F;" />
								</dd>
							</dl>
						</div>
						<div class="extendBox">
							<p class="clr">
								<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/3148#posList_5"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_select_item.gif" alt="この商品を選ぶ" width="90" height="20" class="left" /></a>
								<a href="http://customize.uniqlo.com/store.php/stock/index?id=561" target="_blank"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_check_stock.gif" alt="在庫確認" width="70" height="20" class="right" /></a>
							</p>
							<dl class="clr">
								<dt>サイズ</dt>
								<dd>
									S&nbsp;
									M&nbsp;
									L&nbsp;
									XL&nbsp;
									XXL&nbsp;
								</dd>
							</dl>
							<p>商品番号：138701
汗をかいてもすぐ乾いて、肌触りサラサラのドライ機能付きポロシャツ。特殊な糸でムレにくく、涼しく快適な着心地をキープします。
【素材】本体：綿72％・ポリエステル28％，リブ部分：綿57％・ポリエステル43％</p>
						</div>
					</div>
				</li>
				<li>
					<div class="inBox">
						<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_men.gif" width="52" height="20" class="catIcon" />
						<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/3158#posList_5" onFocus="this.blur();" class="itemImage"><img src="http://customize.uniqlo.com/atelier.php/gadget/getResampledImage?image=item/thumbnail/s341-138701-65A.png&amp;width=180&amp;height=180&amp;type=1" width="180" height="180" /></a>
						<div class="explainBox">
							<table>
							<tr>
							<th>
							MEN ドライカノコポロシャツ 半袖（ポップ）</th>
							<td style="white-space: nowrap;">
							&yen;1,990<br />+消費税</td>
							</tr>
							</table>
							<dl class="colorBox clr">
								<dt>カラー</dt>
								<dd class="clr">
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#A04650;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#D3490A;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#CBBE80;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#A2BBB5;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#024924;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#99ADBA;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#016484;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#022664;" />
								</dd>
							</dl>
						</div>
						<div class="extendBox">
							<p class="clr">
								<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/3158#posList_5"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_select_item.gif" alt="この商品を選ぶ" width="90" height="20" class="left" /></a>
								<a href="http://customize.uniqlo.com/store.php/stock/index?id=562" target="_blank"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_check_stock.gif" alt="在庫確認" width="70" height="20" class="right" /></a>
							</p>
							<dl class="clr">
								<dt>サイズ</dt>
								<dd>
									S&nbsp;
									M&nbsp;
									L&nbsp;
									XL&nbsp;
									XXL&nbsp;
								</dd>
							</dl>
							<p>商品番号：138701
汗をかいてもすぐ乾いて、肌触りサラサラのドライ機能付きポロシャツ。特殊な糸でムレにくく、涼しく快適な着心地をキープします。
【素材】本体：綿72％・ポリエステル28％，リブ部分：綿57％・ポリエステル43％</p>
						</div>
					</div>
				</li>
				<li>
					<div class="inBox">
						<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_men.gif" width="52" height="20" class="catIcon" />
						<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/3180#posList_5" onFocus="this.blur();" class="itemImage"><img src="http://customize.uniqlo.com/atelier.php/gadget/getResampledImage?image=item/thumbnail/s341-132853-00A.png&amp;width=180&amp;height=180&amp;type=1" width="180" height="180" /></a>
						<div class="explainBox">
							<table>
							<tr>
							<th>
							MEN ドライシャツカラーポロシャツ ボタンダウン・半袖（ホワイト）</th>
							<td style="white-space: nowrap;">
							&yen;1,990<br />+消費税</td>
							</tr>
							</table>
							<dl class="colorBox clr">
								<dt>カラー</dt>
								<dd class="clr">
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#DEDDDB;" />
								</dd>
							</dl>
						</div>
						<div class="extendBox">
							<p class="clr">
								<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/3180#posList_5"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_select_item.gif" alt="この商品を選ぶ" width="90" height="20" class="left" /></a>
								<a href="http://customize.uniqlo.com/store.php/stock/index?id=565" target="_blank"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_check_stock.gif" alt="在庫確認" width="70" height="20" class="right" /></a>
							</p>
							<dl class="clr">
								<dt>サイズ</dt>
								<dd>
									S&nbsp;
									M&nbsp;
									L&nbsp;
									XL&nbsp;
									XXL&nbsp;
								</dd>
							</dl>
							<p>商品番号：132853
シャツのような襟で、品良く着こなせるポロシャツ。ドライ機能で汗をかいてもすぐ乾き、通気性にすぐれた鹿の子素材で爽やかな肌触り。ジャケットに合わせるのはもちろん、１枚でもスタイリッシュに決まります。
※この商品には左胸にポケットが付いています。
【素材】73％綿，27％ポリエステル</p>
						</div>
					</div>
				</li>
				<li>
					<div class="inBox">
						<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_men.gif" width="52" height="20" class="catIcon" />
						<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/3181#posList_5" onFocus="this.blur();" class="itemImage"><img src="http://customize.uniqlo.com/atelier.php/gadget/getResampledImage?image=item/thumbnail/s341-132853-62A.png&amp;width=180&amp;height=180&amp;type=1" width="180" height="180" /></a>
						<div class="explainBox">
							<table>
							<tr>
							<th>
							MEN ドライシャツカラーポロシャツ ボタンダウン・半袖</th>
							<td style="white-space: nowrap;">
							&yen;1,990<br />+消費税</td>
							</tr>
							</table>
							<dl class="colorBox clr">
								<dt>カラー</dt>
								<dd class="clr">
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#B8BABF;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#252628;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#E7DAE3;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#A3BADA;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#202C3C;" />
								</dd>
							</dl>
						</div>
						<div class="extendBox">
							<p class="clr">
								<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/3181#posList_5"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_select_item.gif" alt="この商品を選ぶ" width="90" height="20" class="left" /></a>
								<a href="http://customize.uniqlo.com/store.php/stock/index?id=566" target="_blank"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_check_stock.gif" alt="在庫確認" width="70" height="20" class="right" /></a>
							</p>
							<dl class="clr">
								<dt>サイズ</dt>
								<dd>
									S&nbsp;
									M&nbsp;
									L&nbsp;
									XL&nbsp;
									XXL&nbsp;
								</dd>
							</dl>
							<p>商品番号：132853
シャツのような襟で、品良く着こなせるポロシャツ。ドライ機能で汗をかいてもすぐ乾き、通気性にすぐれた鹿の子素材で爽やかな肌触り。ジャケットに合わせるのはもちろん、１枚でもスタイリッシュに決まります。
※この商品には左胸にポケットが付いています。
【素材】73％綿，27％ポリエステル</p>
						</div>
					</div>
				</li>
				<li>
					<div class="inBox">
						<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_men.gif" width="52" height="20" class="catIcon" />
						<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/3186#posList_5" onFocus="this.blur();" class="itemImage"><img src="http://customize.uniqlo.com/atelier.php/gadget/getResampledImage?image=item/thumbnail/s341-141673-00A.png&amp;width=180&amp;height=180&amp;type=1" width="180" height="180" /></a>
						<div class="explainBox">
							<table>
							<tr>
							<th>
							MENドライシャツカラーポロシャツ セミワイド・半袖（ホワイト）</th>
							<td style="white-space: nowrap;">
							&yen;1,990<br />+消費税</td>
							</tr>
							</table>
							<dl class="colorBox clr">
								<dt>カラー</dt>
								<dd class="clr">
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#EAEAEB;" />
								</dd>
							</dl>
						</div>
						<div class="extendBox">
							<p class="clr">
								<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/3186#posList_5"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_select_item.gif" alt="この商品を選ぶ" width="90" height="20" class="left" /></a>
								<a href="http://customize.uniqlo.com/store.php/stock/index?id=567" target="_blank"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_check_stock.gif" alt="在庫確認" width="70" height="20" class="right" /></a>
							</p>
							<dl class="clr">
								<dt>サイズ</dt>
								<dd>
									S&nbsp;
									M&nbsp;
									L&nbsp;
									XL&nbsp;
									XXL&nbsp;
								</dd>
							</dl>
							<p>商品番号：141673
トレンド感の高いセミワイドカラーのポロシャツ。シャツ風のルックスでビジネスシーンにもおすすめです。ポロシャツなので着心地はやさしく、心地よいので暑い季節でもラクに快適に過ごせるのが魅力。裏面はドライ機能を持った糸で汗をかいてもすぐに乾かしサラッした肌触りをキープします。
【素材】73％綿・27％ポリエステル</p>
						</div>
					</div>
				</li>
				<li>
					<div class="inBox">
						<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_men.gif" width="52" height="20" class="catIcon" />
						<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/3187#posList_5" onFocus="this.blur();" class="itemImage"><img src="http://customize.uniqlo.com/atelier.php/gadget/getResampledImage?image=item/thumbnail/s341-141673-66A.png&amp;width=180&amp;height=180&amp;type=1" width="180" height="180" /></a>
						<div class="explainBox">
							<table>
							<tr>
							<th>
							MENドライシャツカラーポロシャツ セミワイド・半袖</th>
							<td style="white-space: nowrap;">
							&yen;1,990<br />+消費税</td>
							</tr>
							</table>
							<dl class="colorBox clr">
								<dt>カラー</dt>
								<dd class="clr">
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#C6C9D0;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#A9BBDB;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#2C3341;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#B7A4C0;" />
								</dd>
							</dl>
						</div>
						<div class="extendBox">
							<p class="clr">
								<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/3187#posList_5"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_select_item.gif" alt="この商品を選ぶ" width="90" height="20" class="left" /></a>
								<a href="http://customize.uniqlo.com/store.php/stock/index?id=568" target="_blank"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_check_stock.gif" alt="在庫確認" width="70" height="20" class="right" /></a>
							</p>
							<dl class="clr">
								<dt>サイズ</dt>
								<dd>
									S&nbsp;
									M&nbsp;
									L&nbsp;
									XL&nbsp;
									XXL&nbsp;
								</dd>
							</dl>
							<p>商品番号：141673
トレンド感の高いセミワイドカラーのポロシャツ。シャツ風のルックスでビジネスシーンにもおすすめです。ポロシャツなので着心地はやさしく、心地よいので暑い季節でもラクに快適に過ごせるのが魅力。裏面はドライ機能を持った糸で汗をかいてもすぐに乾かしサラッした肌触りをキープします。
【素材】73％綿・27％ポリエステル</p>
						</div>
					</div>
				</li>
				<li>
					<div class="inBox">
						<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_men.gif" width="52" height="20" class="catIcon" />
						<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/3116#posList_5" onFocus="this.blur();" class="itemImage"><img src="http://customize.uniqlo.com/atelier.php/gadget/getResampledImage?image=item/thumbnail/s341-138654-00A.png&amp;width=180&amp;height=180&amp;type=1" width="180" height="180" /></a>
						<div class="explainBox">
							<table>
							<tr>
							<th>
							MEN ライトウエイトフルジップパーカ 長袖（ホワイト）</th>
							<td style="white-space: nowrap;">
							&yen;1,990<br />+消費税</td>
							</tr>
							</table>
							<dl class="colorBox clr">
								<dt>カラー</dt>
								<dd class="clr">
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#C1BEB9;" />
								</dd>
							</dl>
						</div>
						<div class="extendBox">
							<p class="clr">
								<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/3116#posList_5"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_select_item.gif" alt="この商品を選ぶ" width="90" height="20" class="left" /></a>
								<a href="http://customize.uniqlo.com/store.php/stock/index?id=555" target="_blank"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_check_stock.gif" alt="在庫確認" width="70" height="20" class="right" /></a>
							</p>
							<dl class="clr">
								<dt>サイズ</dt>
								<dd>
									S&nbsp;
									M&nbsp;
									L&nbsp;
									XL&nbsp;
									XXL&nbsp;
								</dd>
							</dl>
							<p>商品番号：138654
少し軽めの風合いが魅力のパーカ。ドライ機能もプラスしているので、汗をかいてもすぐに乾いていつもワラサラの肌触りです。チーム名を入れてお揃いで羽織ってみませんか。
【素材】本体：65％綿，35％ポリエステル　リブ部分797％綿・21％ポリエステル</p>
						</div>
					</div>
				</li>
				<li>
					<div class="inBox">
						<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_men.gif" width="52" height="20" class="catIcon" />
						<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/3117#posList_5" onFocus="this.blur();" class="itemImage"><img src="http://customize.uniqlo.com/atelier.php/gadget/getResampledImage?image=item/thumbnail/s341-138654-42A.png&amp;width=180&amp;height=180&amp;type=1" width="180" height="180" /></a>
						<div class="explainBox">
							<table>
							<tr>
							<th>
							MEN ライトウエイトフルジップパーカ 長袖</th>
							<td style="white-space: nowrap;">
							&yen;1,990<br />+消費税</td>
							</tr>
							</table>
							<dl class="colorBox clr">
								<dt>カラー</dt>
								<dd class="clr">
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#7F8078;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#070707;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#C33F3B;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#C5AB4D;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#8095AB;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#0F0E13;" />
								</dd>
							</dl>
						</div>
						<div class="extendBox">
							<p class="clr">
								<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/3117#posList_5"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_select_item.gif" alt="この商品を選ぶ" width="90" height="20" class="left" /></a>
								<a href="http://customize.uniqlo.com/store.php/stock/index?id=556" target="_blank"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_check_stock.gif" alt="在庫確認" width="70" height="20" class="right" /></a>
							</p>
							<dl class="clr">
								<dt>サイズ</dt>
								<dd>
									S&nbsp;
									M&nbsp;
									L&nbsp;
									XL&nbsp;
									XXL&nbsp;
								</dd>
							</dl>
							<p>商品番号：138654
少し軽めの風合いが魅力のパーカ。ドライ機能もプラスしているので、汗をかいてもすぐに乾いていつもワラサラの肌触りです。チーム名を入れてお揃いで羽織ってみませんか。
【素材】本体：65％綿，35％ポリエステル　リブ部分797％綿・21％ポリエステル</p>
						</div>
					</div>
				</li>
				<li>
					<div class="inBox">
						<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_men.gif" width="52" height="20" class="catIcon" />
						<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/3073#posList_5" onFocus="this.blur();" class="itemImage"><img src="http://customize.uniqlo.com/atelier.php/gadget/getResampledImage?image=item/thumbnail/s341-138650-00A.png&amp;width=180&amp;height=180&amp;type=1" width="180" height="180" /></a>
						<div class="explainBox">
							<table>
							<tr>
							<th>
							MEN スウェットシャツ 長袖（ホワイト）</th>
							<td style="white-space: nowrap;">
							&yen;2,490<br />+消費税</td>
							</tr>
							</table>
							<dl class="colorBox clr">
								<dt>カラー</dt>
								<dd class="clr">
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#E0DCCF;" />
								</dd>
							</dl>
						</div>
						<div class="extendBox">
							<p class="clr">
								<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/3073#posList_5"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_select_item.gif" alt="この商品を選ぶ" width="90" height="20" class="left" /></a>
								<a href="http://customize.uniqlo.com/store.php/stock/index?id=543" target="_blank"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_check_stock.gif" alt="在庫確認" width="70" height="20" class="right" /></a>
							</p>
							<dl class="clr">
								<dt>サイズ</dt>
								<dd>
									S&nbsp;
									M&nbsp;
									L&nbsp;
									XL&nbsp;
								</dd>
							</dl>
							<p>商品番号：138650
太めの糸を使い、ざっくり編み上げることでヴィンテージ感のあるスウェットシャツにしました。シルエットはすっきりさせ、野暮ったくならないようにしました。縫い代を薄く始末する縫製や、シャツを重ねた時に襟のラインがきれいに見えるパターンを採用するなど、細部までこだわっています。ウォッシュ加工もプラスして、長年着込んだような味のある風合いを演出。定番だけに素材もシルエットもディテールも全てにこだわり、クオリティの高い1枚に仕上げました。
【素材】100％ 綿/ リブ部分: 87％ 綿, 13％ ポリエステル</p>
						</div>
					</div>
				</li>
				<li>
					<div class="inBox">
						<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_men.gif" width="52" height="20" class="catIcon" />
						<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/3074#posList_5" onFocus="this.blur();" class="itemImage"><img src="http://customize.uniqlo.com/atelier.php/gadget/getResampledImage?image=item/thumbnail/s341-138650-63A.png&amp;width=180&amp;height=180&amp;type=1" width="180" height="180" /></a>
						<div class="explainBox">
							<table>
							<tr>
							<th>
							MEN スウェットシャツ 長袖</th>
							<td style="white-space: nowrap;">
							&yen;2,490<br />+消費税</td>
							</tr>
							</table>
							<dl class="colorBox clr">
								<dt>カラー</dt>
								<dd class="clr">
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#9D9894;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#111111;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#9F1B16;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#565F6C;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#201F28;" />
								</dd>
							</dl>
						</div>
						<div class="extendBox">
							<p class="clr">
								<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/3074#posList_5"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_select_item.gif" alt="この商品を選ぶ" width="90" height="20" class="left" /></a>
								<a href="http://customize.uniqlo.com/store.php/stock/index?id=544" target="_blank"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_check_stock.gif" alt="在庫確認" width="70" height="20" class="right" /></a>
							</p>
							<dl class="clr">
								<dt>サイズ</dt>
								<dd>
									S&nbsp;
									M&nbsp;
									L&nbsp;
									XL&nbsp;
								</dd>
							</dl>
							<p>商品番号：138650
太めの糸を使い、ざっくり編み上げることでヴィンテージ感のあるスウェットシャツにしました。シルエットはすっきりさせ、野暮ったくならないようにしました。縫い代を薄く始末する縫製や、シャツを重ねた時に襟のラインがきれいに見えるパターンを採用するなど、細部までこだわっています。ウォッシュ加工もプラスして、長年着込んだような味のある風合いを演出。定番だけに素材もシルエットもディテールも全てにこだわり、クオリティの高い1枚に仕上げました。
【素材】100％ 綿/ リブ部分: 87％ 綿, 13％ ポリエステル</p>
						</div>
					</div>
				</li>
				<li>
					<div class="inBox">
						<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_men.gif" width="52" height="20" class="catIcon" />
						<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/2834#posList_5" onFocus="this.blur();" class="itemImage"><img src="http://customize.uniqlo.com/atelier.php/gadget/getResampledImage?image=item/thumbnail/s341-087382-00A.png&amp;width=180&amp;height=180&amp;type=1" width="180" height="180" /></a>
						<div class="explainBox">
							<table>
							<tr>
							<th>
							Mドライカノコポロシャツ 半袖（ホワイト）</th>
							<td style="white-space: nowrap;">
							&yen;1,896<br />+消費税</td>
							</tr>
							</table>
							<dl class="colorBox clr">
								<dt>カラー</dt>
								<dd class="clr">
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#D2D2D4;" />
								</dd>
							</dl>
						</div>
						<div class="extendBox">
							<p class="clr">
								<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/2834#posList_5"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_select_item.gif" alt="この商品を選ぶ" width="90" height="20" class="left" /></a>
								<a href="http://customize.uniqlo.com/store.php/stock/index?id=495" target="_blank"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_check_stock.gif" alt="在庫確認" width="70" height="20" class="right" /></a>
							</p>
							<dl class="clr">
								<dt>サイズ</dt>
								<dd>
									S&nbsp;
									M&nbsp;
									L&nbsp;
									XL&nbsp;
									XXL&nbsp;
								</dd>
							</dl>
							<p>商品番号：087382
【再販売】一部カラーのみ、ご好評につき再販売いたします。
汗や水分をすぐに吸ってすぐに乾かすドライ機能をプラスして、いつでもサラッと爽やかな肌触りで過ごせるようにしました。刺繍やプリントを入れるカスタマイズでも一番の人気商品です。
※店舗・オンラインストアとは商品価格が異なります。XXLサイズは販売終了いたしました。
【素材】本体：70％綿・30％ポリエステル，リブ部分：57％綿・43％ポリエステル</p>
						</div>
					</div>
				</li>
				<li>
					<div class="inBox">
						<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_men.gif" width="52" height="20" class="catIcon" />
						<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/2836#posList_5" onFocus="this.blur();" class="itemImage"><img src="http://customize.uniqlo.com/atelier.php/gadget/getResampledImage?image=item/thumbnail/s341-087382-09A.png&amp;width=180&amp;height=180&amp;type=1" width="180" height="180" /></a>
						<div class="explainBox">
							<table>
							<tr>
							<th>
							Mドライカノコポロシャツ 半袖（ベーシック）</th>
							<td style="white-space: nowrap;">
							&yen;1,896<br />+消費税</td>
							</tr>
							</table>
							<dl class="colorBox clr">
								<dt>カラー</dt>
								<dd class="clr">
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#303132;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#0B0B0B;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#1E2331;" />
								</dd>
							</dl>
						</div>
						<div class="extendBox">
							<p class="clr">
								<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/2836#posList_5"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_select_item.gif" alt="この商品を選ぶ" width="90" height="20" class="left" /></a>
								<a href="http://customize.uniqlo.com/store.php/stock/index?id=496" target="_blank"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_check_stock.gif" alt="在庫確認" width="70" height="20" class="right" /></a>
							</p>
							<dl class="clr">
								<dt>サイズ</dt>
								<dd>
									S&nbsp;
									M&nbsp;
									L&nbsp;
									XL&nbsp;
									XXL&nbsp;
								</dd>
							</dl>
							<p>商品番号：087382
【再販売】一部カラーのみ、ご好評につき再販売いたします。
汗や水分をすぐに吸ってすぐに乾かすドライ機能をプラスして、いつでもサラッと爽やかな肌触りで過ごせるようにしました。刺繍やプリントを入れるカスタマイズでも一番の人気商品です。
※店舗・オンラインストアとは商品価格が異なります。XXLサイズは販売終了いたしました。
【素材】本体：70％綿・30％ポリエステル，リブ部分：57％綿・43％ポリエステル</p>
						</div>
					</div>
				</li>
				<li>
					<div class="inBox">
						<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_men.gif" width="52" height="20" class="catIcon" />
						<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/2912#posList_5" onFocus="this.blur();" class="itemImage"><img src="http://customize.uniqlo.com/atelier.php/gadget/getResampledImage?image=item/thumbnail/s341-087349-00A.png&amp;width=180&amp;height=180&amp;type=1" width="180" height="180" /></a>
						<div class="explainBox">
							<table>
							<tr>
							<th>
							MドライカラークルーネックＴ 半袖D（ホワイト）</th>
							<td style="white-space: nowrap;">
							&yen;477<br />+消費税</td>
							</tr>
							</table>
							<dl class="colorBox clr">
								<dt>カラー</dt>
								<dd class="clr">
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#E5E5E3;" />
								</dd>
							</dl>
						</div>
						<div class="extendBox">
							<p class="clr">
								<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/2912#posList_5"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_select_item.gif" alt="この商品を選ぶ" width="90" height="20" class="left" /></a>
								<a href="http://customize.uniqlo.com/store.php/stock/index?id=514" target="_blank"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_check_stock.gif" alt="在庫確認" width="70" height="20" class="right" /></a>
							</p>
							<dl class="clr">
								<dt>サイズ</dt>
								<dd>
									S&nbsp;
									M&nbsp;
									L&nbsp;
									XL&nbsp;
									XXL&nbsp;
								</dd>
							</dl>
							<p>商品番号：087349
汗をすぐに吸ってすぐに乾かすドライ機能付きTシャツ。いつでもサラッとした爽やかな肌触りをキープするので、暑い日やスポーツシーンに大活躍の1枚です。
※店舗・オンラインストアとは商品価格が異なります。XXLサイズは販売終了いたしました。
【素材】77％綿・23％ポリエステル</p>
						</div>
					</div>
				</li>
				<li>
					<div class="inBox">
						<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_men.gif" width="52" height="20" class="catIcon" />
						<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/2913#posList_5" onFocus="this.blur();" class="itemImage"><img src="http://customize.uniqlo.com/atelier.php/gadget/getResampledImage?image=item/thumbnail/s341-087349-17A.png&amp;width=180&amp;height=180&amp;type=1" width="180" height="180" /></a>
						<div class="explainBox">
							<table>
							<tr>
							<th>
							MドライカラークルーネックＴ 半袖D</th>
							<td style="white-space: nowrap;">
							&yen;477<br />+消費税</td>
							</tr>
							</table>
							<dl class="colorBox clr">
								<dt>カラー</dt>
								<dd class="clr">
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#B7B8B2;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#313431;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#242523;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#D8CACC;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#690C09;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#182821;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#1E245E;" />
									<img src="@uniqlo.utility.Config.RES_HOST/store/images/ico_color.gif" width="19" height="19" style="background:#282F3C;" />
								</dd>
							</dl>
						</div>
						<div class="extendBox">
							<p class="clr">
								<a href="http://customize.uniqlo.com/store.php/sel_work/index/si_id/1/item_color_id/2913#posList_5"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_select_item.gif" alt="この商品を選ぶ" width="90" height="20" class="left" /></a>
								<a href="http://customize.uniqlo.com/store.php/stock/index?id=515" target="_blank"><img src="@uniqlo.utility.Config.RES_HOST/store/images/bt_check_stock.gif" alt="在庫確認" width="70" height="20" class="right" /></a>
							</p>
							<dl class="clr">
								<dt>サイズ</dt>
								<dd>
									S&nbsp;
									M&nbsp;
									L&nbsp;
									XL&nbsp;
									XXL&nbsp;
								</dd>
							</dl>
							<p>商品番号：087349
汗をすぐに吸ってすぐに乾かすドライ機能付きTシャツ。いつでもサラッとした爽やかな肌触りをキープするので、暑い日やスポーツシーンに大活躍の1枚です。
※店舗・オンラインストアとは商品価格が異なります。XXLサイズは販売終了いたしました。
【素材】77％綿・23％ポリエステル</p>
						</div>
					</div>
				</li>
				<!--ループここまで-->
			</ul>
<script type="text/javascript">
function mouseEvent(e){
	var className = 'current';
	var itemElm = Event.findElement(e, 'li');
	if(itemElm)	{
		if(e.type == "mouseover"){
			itemElm == Element.addClassName(itemElm, className);
		}else{
			if(Element.hasClassName(itemElm, className)){
				itemElm == Element.removeClassName(itemElm, className);
			}
		}
	}
}
//行末処理
var list = $$('ul#itemList li');
for(var i=0;i<list.length;i++){
	if((i+1)%5 == 0) {
		Element.addClassName(list[i],'last');
	}
}
</script>
		</div>
		<!-- //contents area end -->
				<!-- footer area start -->
<div id="footer">
<div class="fnav1">
<ul>
<li><a href="http://www.uniqlo.com/jp/shop/" title="店舗検索"><img src="@uniqlo.utility.Config.RES_HOST/store/common/image/fnav01.gif" alt="店舗検索" width="53" height="10" /></a></li>
<li><a href="http://faqnavi12a.csview.jp/faq2/usernavi.do?user=frgroup&amp;faq=index" title="お客様窓口"><img src="@uniqlo.utility.Config.RES_HOST/store/common/image/fnav02.gif" alt="お客様窓口" width="73" height="10" /></a></li>
<li><a href="http://www.uniqlo.com/jp/corp/" title="企業情報"><img src="@uniqlo.utility.Config.RES_HOST/store/common/image/fnav03.gif" alt="企業情報" width="63" height="10" /></a></li>
<li><a href="http://www.uniqlo.com/jp/employment/" title="採用情報"><img src="@uniqlo.utility.Config.RES_HOST/store/common/image/fnav04.gif" alt="採用情報" width="64" height="10" /></a></li>
<li><a href="http://faqnavi12a.csview.jp/faq2/userqa.do?user=frgroup&amp;faq=uniqloec&amp;id=5139&amp;parent=3866" title="プライバシーポリシー"><img src="@uniqlo.utility.Config.RES_HOST/store/common/image/fnav05.gif" alt="プライバシーポリシー" width="113" height="10" /></a></li>
</ul>
<address><img src="@uniqlo.utility.Config.RES_HOST/store/common/image/copy.gif" alt="Copyright &copy; UNIQLO Co., Ltd. All Rights Reserved." width="242" height="12" /></address>
<p><a href="http://www.uniqlo.com/jp/" title="UNIQLO"><img src="@uniqlo.utility.Config.RES_HOST/store/common/image/logo03.gif" alt="UNIQLO" width="28" height="28" /></a></p>
</div> <!-- end of class="fnav1" -->

<dl class="fnav2">
<dt><img src="@uniqlo.utility.Config.RES_HOST/store/common/image/fnav06.gif" alt="World UNIQLO" width="84" height="10" /></dt>
<dd><a href="http://www.uniqlo.com/jp/" title="JAPAN"><img src="@uniqlo.utility.Config.RES_HOST/store/common/image/fnav07.gif" alt="JAPAN" width="50" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/us/" target="_blank" title="USA"><img src="@uniqlo.utility.Config.RES_HOST/store/common/image/fnav08.gif" alt="USA" width="38" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/uk/" target="_blank" title="UK"><img src="@uniqlo.utility.Config.RES_HOST/store/common/image/fnav09.gif" alt="UK" width="32" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/fr/" target="_blank" title="FRANCE"><img src="@uniqlo.utility.Config.RES_HOST/store/common/image/fnav10.gif" alt="FRANCE" width="58" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/ru/" target="_blank" title="RUSSIA"><img src="@uniqlo.utility.Config.RES_HOST/store/common/image/fnav11.gif" alt="RUSSIA" width="56" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/kr/" target="_blank" title="KOREA"><img src="@uniqlo.utility.Config.RES_HOST/store/common/image/fnav12.gif" alt="KOREA" width="52" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/cn/" target="_blank" title="CHINA"><img src="@uniqlo.utility.Config.RES_HOST/store/common/image/fnav13.gif" alt="CHINA" width="49" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/hk/" target="_blank" title="HONGKONG"><img src="@uniqlo.utility.Config.RES_HOST/store/common/image/fnav14.gif" alt="HONGKONG" width="76" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/tw/" target="_blank" title="TAIWAN"><img src="@uniqlo.utility.Config.RES_HOST/store/common/image/fnav15.gif" alt="TAIWAN" width="58" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/sg/" target="_blank" title="SINGAPORE"><img src="@uniqlo.utility.Config.RES_HOST/store/common/image/fnav16.gif" alt="SINGAPORE" width="78" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/my/" target="_blank" title="MALAYSIA"><img src="@uniqlo.utility.Config.RES_HOST/store/common/image/fnav17.gif" alt="MALAYSIA" width="59" height="10" /></a></dd>
</dl>
</div>
<!-- footer area end -->
			</div>
		</div>
	</body>

<!-- Mirrored from customize.uniqlo.com/store.php/sel_item/1?pt_id=5 by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 20 Apr 2015 16:00:06 GMT -->
</html>
